<ion-view cache-view="false">
    <ion-nav-title>{{selectedClient.clientDesc}}</ion-nav-title>
<!--
        <ion-nav-bar class="myblue">
    </ion-nav-bar>
-->
	<ion-content class="padding">
		<ti-segmented-control on-select="buttonClicked($index)" class="padding-bottom">
			<ti-segmented-control-button id="segment_button_0" class="button-energized" title="'Parents'">
			</ti-segmented-control-button>

			<ti-segmented-control-button id="segment_button_1" class="button-energized" title="'Kids'" >
			</ti-segmented-control-button>

			<ti-segmented-control-button id="segment_button_2" class="button-energized" title="'Tasks'" >
			</ti-segmented-control-button>
		</ti-segmented-control>

		<div ng-switch on="selectedIndex">

			<!-- ******************************** Parent sub-page ******************************** -->
            <div ng-switch-when="0">
				 <button class="button mygreen button-block" ng-click="addNewParent()" ng-hide="toggleVisibility">Add New Parent</button>
    		</div>
            
			<div id="parent" ng-repeat="parent in selectedClient.parents" class="card" ng-switch-when="0">


				<div class="item item-divider item-icon-right">
					{{parent.parentName}}
					
					<div class="icon">
						 <button class="button button-icon" style="padding-left:30px;" ng-click="editParent($index)">
							<i class = "icon ion-edit"></i>
						</button>
        			</div>	
					
				</div>
				<div class="item item-text-wrap">
					<div style="margin-bottom:15px;">
							<h2>Address</h2>
							<hr style="height:1px;margin-top:5px;border:none;color:#333;background-color:#ddd;" />
							<p>{{parent.parentStreet}}</p>
							<p>{{parent.parentCity +", "+ parent.parentState}}</p>
							<p>{{parent.parentZipcode}}</p>
						</div>

						<div style="margin-bottom:15px;">
							<h2>Primary Phone</h2>
							<hr style="height:1px;margin-top:5px;border:none;color:#333;background-color:#ddd;" />
							<p>{{parent.parentPrimaryphone}}</p>
						</div>

						<div style="margin-bottom:15px;">
							<h2>Secondary Phone</h2>
							<hr style="height:1px;margin-top:5px;border:none;color:#333;background-color:#ddd;" />
							<p>{{parent.parentSecondaryphone}}</p>
						</div>

						<div style="margin-bottom:15px;">
							<h2>Email</h2>
							<hr style="height:1px;margin-top:5px;border:none;color:#333;background-color:#ddd;" />
							<p>{{parent.parentEmailid}}</p>
						</div>
					
						<div style="margin-bottom:15px;">
							<h2>Notes</h2>
							<hr style="height:1px;margin-top:5px;border:none;color:#333;background-color:#ddd;" />
							<p>{{parent.parentNotes}}</p>
						</div>
				</div>

			</div>
			<!-- ******************************** Kid sub-page ******************************** -->
            <div id="kid" ng-switch-when="1">
				 <button class="button mygreen button-block" ng-click="addNewKid()" ng-hide="toggleVisibility">Add New Kid</button>
    			</div>
            
			<div id="kid" ng-repeat="kid in selectedClient.kids" class="card" ng-switch-when="1">
				
				<div class="item item-divider item-icon-right ">
					{{kid.kidName}}
					
					<div class="icon">
						 <button class="button button-icon" style="padding-left:30px;" ng-click="editKid($index)">
							<i class = "icon ion-edit myblue"></i>
						</button>
        			</div>										
				</div>

				<div class="item item-text-wrap">
					<!--		 <div id="profile-bg"></div>-->
					<div id="content">
						<div id="profile-info">
							<img ng-show="kid.kidPicture !== undefined && kid.kidPicture !== ''" id="profile-image" ng-src="{{kid.kidPicture}}">
			  				<img ng-show="kid.kidPicture == undefined ||  kid.kidPicture == ''"  id="profile-image" ng-src="img/default.png">
							
							<h4 id="profile-name">
				  <i class="fa fa-birthday-cake" aria-hidden="true"></i> {{ kid.kidBirthdate}}
				</h4>
							<h4 id="profile-name">
				   {{kid.kidGender}}
				</h4>
				</div>
						<div style="margin-bottom:15px;">
							<h2>Allergies</h2>
							<hr style="height:1px;margin-top:5px;border:none;color:#333;background-color:#ddd;" />
							<p>{{kid.allergyDescription}}</p>
							<p ng-show="kid.allergyDescription == undefined || kid.allergyDescription == '' ">None</p>
						</div>

						<div style="margin-bottom:15px;">
							<h2>Disabilities</h2>
							<hr style="height:1px;margin-top:5px;border:none;color:#333;background-color:#ddd;" />
							<p>{{kid.disabilityDescription}}</p>
							<p ng-show="kid.disabilityDescription == undefined || kid.disabilityDescription == '' ">None</p>
						</div>

						<div style="margin-bottom:15px;">
							<h2>Medications</h2>
							<hr style="height:1px;margin-top:5px;border:none;color:#333;background-color:#ddd;" />
							<p>{{kid.medicationDescription}}</p>
							<p ng-show="kid.medicationDescription == undefined || kid.medicationDescription == ''">None</p>
						</div>

						<div style="margin-bottom:15px;">
							<h2>Notes</h2>
							<hr style="height:1px;margin-top:5px;border:none;color:#333;background-color:#ddd;" />
							<p>{{kid.kidNotes}}</p>
							<p ng-show="kid.kidNotes == undefined || kid.kidNotes == ''">None</p>
						</div>
					</div>
				</div>
						
			</div>
			
			<!-- ******************************** Task sub-page ******************************** -->
            
			
			<div id="task" ng-repeat="(startDate, taskItems) in selectedClient.tasks | groupBy: 'startDate'" ng-switch-when="2" >

				<div class="item item-divider item-icon-right">
					{{startDate}}
				</div>
				
				<ion-item ng-repeat="task in taskItems | orderBy: 'startTime'" class="item item-text-wrap" href="#/tab/tasks_client/{{task.taskId}}">
					<div style="padding-bottom:10px;">
						<span style="font-size: 17px">{{task.taskTitle}}</span>
						<div ng-show="task.isCompleted == 'true'" class="item-note" >
							<span style="color:green;">		  
								Completed
							</span>
						<br/>
<!--							<span style="font-size: 14px;">{{task.taskDescription}}</span>-->
						<span >		  
								{{task.startTime}}
						</span>	
						</div>
											
					</div>
				</ion-item>
			</div>
            <!-- ******************************** Task sub-page ******************************** -->
		

	</ion-content>
</ion-view>