<ion-view view-title="Edit Kid">
  <ion-nav-buttons side="secondary">

    <button class="button correctSize" ng-click="saveKid()">Save</button>

  </ion-nav-buttons>
  <ion-nav-buttons side="primary">
    <button class="button correctSize secondary" ng-click="cancelKid()">Cancel</button>

  </ion-nav-buttons>
  <ion-content>

<form id="kid" class="card" name="myForm" novalidate>

      <div class="item item-text-wrap">
        <div id="profile-info">              
			<img ng-show="imgURI !== undefined && imgURI !== ''" id="profile-image" ng-src="{{imgURI}}">
			  <img ng-show="imgURI == undefined ||  imgURI == ''"  id="profile-image" ng-src="img/default.png">
			
          <button class="button button-positive button-clear" ng-click="editKidPicture()" ng-hide="toggleVisibility">Edit</button>
      </div>
        <div style="margin-bottom:15px;">
        <h2>Kid Name</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />

          <input ng-model="kid.kidName" 
                 class="item-input textDisable" 
                 type="text" 
                 placeholder="Kid Name" 
                 value="{{kid.kidName}}"
                 name="kidName"
                 ng-pattern="stringval"
                 ng-required="true">
            <p style="color:red;"
                 ng-show="myForm.kidName.$invalid && myForm.kidName.$touched">* This field is required</p>
        </div>

        <div style="margin-bottom:15px;">
          <h2>Birthday</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />

<!--          <input ng-model="kid.kidBirthday" class="item-input textDisable" type="date" placeholder="Birthday" value="{{kid.kidBirthday}}">-->
			
			<div style="margin-top:10px;margin-bottom:25px;" ion-datetime-picker date id="birthDay" name="birthDay" ng-model="kid.kidBirthdate" required="required" for="birthDate">
                <p ng-show="kid.kidBirthdate == null">Choose Birthday</p>
				<p ng-show="kid.kidBirthdate != null" style="color:black;">{{kid.kidBirthdate | date: 'MMMM dd, yyyy'}}</p>
            </div>

        </div>

        <div style="margin-bottom:15px;">
          <h2>Gender</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />

          <input ng-model="kid.kidGender" 
                 class="item-input textDisable" 
                 type="text" 
                 placeholder="Gender" 
                 value="{{kid.kidGender}}"
                 name="gender"
                 ng-pattern="stringval">
         <p style="color:red;"
                 ng-show="myForm.gender.$invalid">* This field is must contain letters only</p>   
        </div>
        <div style="margin-bottom:15px;">
          <h2>Allergies</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />

          <input ng-model="kid.allergyDescription" class="item-input textDisable" type="text" placeholder="Allergies" value="{{kid.allergyDescription}}">

        </div>
        <div style="margin-bottom:15px;">
          <h2>Disabilities</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />

          <input ng-model="kid.disabilityDescription" class="item-input textDisable" type="text" placeholder="Disabilities" value="{{kid.disabilityDescription}}">

        </div>

        <div style="margin-bottom:15px;">
          <h2>Medications</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />
          <input ng-model="kid.medicationDescription" class="item-input textDisable" type="text" placeholder="Medications" value="{{kids.medicationDescription}}">
        </div>

      <div style="margin-bottom:15px;">
          <h2>Notes</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />
          <input ng-model="kid.kidNotes" class="item-input textDisable" type="text" placeholder="Notes" value="{{kid.kidNotes}}">
        </div>

  </div>
</form>

    <div class="padding" ng-hide="toggleVisibility">

      <button class="button myred button-block" ng-click="deleteKid()" ng-hide="toggleVisibility">
        Delete Kid
      </button>
    </div>

  </ion-content>
</ion-view>                    