<ion-view view-title="Edit Parent">
  <ion-nav-buttons side="secondary">

    <button class="button correctSize" ng-click="saveParent()" ng-hide="toggleVisibility">Save</button>

  </ion-nav-buttons>
  <ion-nav-buttons side="primary">
    <button class="button correctSize secondary" ng-click="cancelParent()" ng-hide="toggleVisibility">Cancel</button>

  </ion-nav-buttons>
  <ion-content>

<form id="parent" class="card" name="myForm" novalidate>

      <div class="item item-text-wrap">

        <div style="margin-bottom:15px;">
        <h2>Parent Name</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />

          <input ng-model="parent.parentFirstname"  
                 class="item-input textDisable" 
                 type="text" 
                 placeholder="Parent Name" 
                 value="{{parent.parentFirstname}}"
                 name="parentName"
                 ng-pattern="stringval"
                 ng-required="true">
                <p style="color:red;"
                 ng-show="myForm.parentName.$invalid && myForm.parentName.$touched">* This field is required</p>
<!--
            <p style="color:red;"
                 ng-show="myForm.parentName.$invalid">* This field is must contain letters only</p>
-->
            
        </div>
          
        <div style="margin-bottom:15px;">
          <h2>Street</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />

          <input ng-model="parent.parentStreet" class="item-input textDisable" type="text" placeholder="Street" value="{{parent.parentStreet}}">
        </div>
       
        <div style="margin-bottom:15px;">
          <h2>City</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />

          <input ng-model="parent.parentCity" 
                 class="item-input textDisable" 
                 type="text" 
                 placeholder="City" 
                 value="{{parent.parentCity}}"
                 name="city"
                 ng-pattern="stringval">
           <p style="color:red;"
                 ng-show="myForm.city.$invalid">* This field must contain letters only</p>
        
        </div>

        <div style="margin-bottom:15px;">
          <h2>State</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />
          <input ng-model="parent.parentState" 
                 class="item-input textDisable" 
                 type="text" 
                 placeholder="State" 
                 value="{{parent.parentState}}"
                 name="state"
                 ng-pattern="stringval">
            <p style="color:red;"
                 ng-show="myForm.state.$invalid">* This field must contain letters only</p>
        </div>

      <div style="margin-bottom:15px;">
          <h2>Zip Code</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />
          <input ng-model="parent.parentZipcode" 
                 class="item-input textDisable" 
                 type="text" 
                 placeholder="Zip Code" 
                 value="{{parent.parentZipcode}}"
                 name="zipcode"
                 ng-pattern="integerval">
          <p style="color:red;"
                 ng-show="myForm.zipcode.$invalid">* This field must contain numbers only</p>
        </div>

      <div style="margin-bottom:15px;">
          <h2>Primary Phone</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />
          <input ng-model="parent.parentPrimaryphone" 
                 class="item-input textDisable" 
                 type="text" 
                 placeholder="Primary Phone" 
                 value="{{parent.parentPrimaryphone}}"
                 name="primaryPhone"
                 ng-pattern="integerval">
          <p style="color:red;"
                 ng-show="myForm.primaryPhone.$invalid">* This field must contain numbers only</p>
        </div>

      <div style="margin-bottom:15px;">
          <h2>Secondary Phone</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />
          <input ng-model="parent.parentSecondaryphone" 
                 class="item-input textDisable" 
                 type="text" 
                 placeholder="Secondary Phone" 
                 value="{{parent.parentSecondaryphone}}"
                 name="secondaryPhone"
                 ng-pattern="integerval">
          <p style="color:red;"
                 ng-show="myForm.secondaryPhone.$invalid">* This field must contain numbers only</p>
        </div>

      <div style="margin-bottom:15px;">
          <h2>Email</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />
          <input ng-model="parent.parentEmailid" 
                 class="item-input textDisable" 
                 type="email" 
                 placeholder="Email" 
                 value="{{parent.parentEmailid}}"
                 name="email">
          <p style="color:red;"
                 ng-show="myForm.email.$invalid && myForm.email.$touched">* This field must contain a valid email</p>
      </div>
        <div style="margin-bottom:15px;">
          <h2>Notes</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />
          <input ng-model="parent.parentNotes" class="item-input textDisable" type="text" placeholder="Notes" value="{{parent.parentNotes}}">
        </div>

    </div>
    </form>

    <div class="padding" ng-hide="toggleVisibility">

      <button class="button button-assertive button-block" ng-click="deleteParent()" ng-hide="toggleVisibility">
        Delete Parent
      </button>
    </div>

  </ion-content>
</ion-view>                    