<ion-view view-title="Edit Kid">
  <ion-nav-buttons side="secondary">

    <button class="button correctSize" ng-click="saveKid()">Save</button>

  </ion-nav-buttons>
  <ion-nav-buttons side="primary">
    <button class="button correctSize secondary" ng-click="cancelKid()">Cancel</button>

  </ion-nav-buttons>
  <ion-content>

<form id="kid" class="card" name="myForm" novalidate>

      <div class="item item-text-wrap">
        <div id="profile-info">              
			<img ng-show="imgURI !== undefined && imgURI !== ''" id="profile-image" ng-src="{{imgURI}}">
			  <img ng-show="imgURI == undefined ||  imgURI == ''"  id="profile-image" ng-src="img/default.png">
			
          <button class="button button-positive button-clear" ng-click="editKidPicture()" ng-hide="toggleVisibility">Edit Photo </button>
      </div>
          
        <div style="margin-bottom:15px;">
             <input style="padding:0px;"
                    ng-model="kid.kidName" 
                 class="item-input textDisable" 
                 type="text" 
                 placeholder="Full Name" 
                 value="{{kid.kidName}}"
                 name="kidName"
                 ng-pattern="stringval"
                 ng-required="true">
             <p style="color:red;"
                 ng-show="myForm.kidName.$invalid && myForm.kidName.$touched">* This field is required</p>
                <hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
        <h2 style="margin-top:5px; margin-bottom:20px;">Full Name</h2>
        </div>

        <div style="margin-bottom:15px;">
            <div style="padding:0px;" ion-datetime-picker date id="birthDay" name="birthDay" ng-model="kid.kidBirthdate" required="required" for="birthDate">
                <p ng-show="kid.kidBirthdate == null">Select Birthday</p>
				<p ng-show="kid.kidBirthdate != null" style="color:black;font-size:16px;margin-bottom:5px;">{{kid.kidBirthdate | date: 'MMMM dd, yyyy'}}</p>
            </div>
          <hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />          
          <h2 style="margin-top:5px; margin-bottom:15px;">Birthday</h2>
        </div>

        <div style="margin-bottom:15px;">
          <div class="list">
              <label class="item item-input item-select" style="padding:0px; margin-bottom:-20px;">
                <div class="input-label" 
                     style="color:#666;padding-bottom:0px;font-size:14px;margin-bottom:5px;"
                     name="gender">
                Gender
                </div>
                <select ng-model="kid.kidGender">
                  <option selected>Male</option>
                  <option>Female</option>
                </select>
              </label>
            </div>
          <hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;margin-bottom:30px;" />          
        </div>

        <div style="margin-bottom:15px;">
             <input style="padding:0px;"
                    ng-model="kid.allergyDescription" 
                    class="item-input textDisable" 
                    type="text" 
                    placeholder="Allergies" 
                    value="{{kid.allergyDescription}}">
          <hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;margin-bottom:40px;" />          
          <h2 style="margin-top:-35px; margin-bottom:15px;">Allergies</h2>
        </div>
          
        <div style="margin-bottom:15px;">
            <input style="padding:0px;"
                   ng-model="kid.disabilityDescription" 
                   class="item-input textDisable" 
                   type="text" 
                   placeholder="Disabilities" 
                   value="{{kid.disabilityDescription}}">
          <hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;margin-bottom:40px;" />   
            <h2 style="margin-top:-35px; margin-bottom:15px;">Disabilities</h2>
        </div>

        <div style="margin-bottom:15px;">
            <input style="padding:0px;" ng-model="kid.medicationDescription" class="item-input textDisable" type="text" placeholder="Medications" value="{{kids.medicationDescription}}">
          <hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;margin-bottom:40px;" />   
                      <h2 style="margin-top:-35px; margin-bottom:15px;">Medications</h2>

        </div>

      <div style="margin-bottom:15px;">
          <input stle="padding:0px;"ng-model="kid.kidNotes" class="item-input textDisable" type="text" placeholder="Notes" value="{{kid.kidNotes}}">
          <hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;margin-bottom:40px;" />  
        <h2 style="margin-top:-35px; margin-bottom:35px;">Notes</h2>
        </div>

  </div>
</form>

    <div class="padding" ng-hide="toggleVisibility">

      <button class="button myred button-block" ng-click="deleteKid()" ng-hide="toggleVisibility">
        Delete Kid
      </button>
    </div>

  </ion-content>
</ion-view>                    