<ion-view view-title="Edit Parent">
  <ion-nav-buttons side="secondary">

    <button class="button correctSize" ng-click="saveParent()" ng-hide="toggleVisibility">Save</button>

  </ion-nav-buttons>
  <ion-nav-buttons side="primary">
    <button class="button correctSize secondary" ng-click="cancelParent()" ng-hide="toggleVisibility">Cancel</button>

  </ion-nav-buttons>
  <ion-content>

<form id="parent" class="card" name="myForm" novalidate>

      <div class="item item-text-wrap">

        <div style="margin-bottom:15px; margin-top:20px;">
            <input style="padding:0px;"
                   ng-model="parent.parentName"  
                 class="item-input textDisable" 
                 type="text" 
                 placeholder="Full Name" 
                 value="{{parent.parentName}}"
                 name="parentName"
                 ng-pattern="stringval"
                 ng-required="true">
                <p style="color:red;"
                 ng-show="myForm.parentName.$invalid && myForm.parentName.$touched">* This field is required</p>
            <hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
             <h2 style="margin-top:5px; margin-bottom:10px;">Full Name</h2>
        </div>
          
        <div style="margin-bottom:15px;">
            <input style="padding:0px;" 
                   ng-model="parent.parentStreet"
                   class="item-input textDisable" 
                   type="text" placeholder="Address" 
                   value="{{parent.parentStreet}}">
            <hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
            <h2 style="margin-top:5px; margin-bottom:10px;">Address</h2>
        </div>
         
        <div style="margin-bottom:15px;">
            <input style="padding:0px;"
                   ng-model="parent.parentCity" 
                 class="item-input textDisable" 
                 type="text" 
                 placeholder="City" 
                 value="{{parent.parentCity}}"
                 name="city"
                 ng-pattern="stringval">
            <p style="color:red;"
                 ng-show="myForm.city.$invalid">* This field must contain letters only</p>
                        <hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
          <h2 style="margin-top:5px; margin-bottom:10px;">City</h2>
        </div>
          
        <div style="margin-bottom:15px;">
            <input style="padding:0px;"
                   ng-model="parent.parentState" 
                 class="item-input textDisable" 
                 type="text" 
                 placeholder="State" 
                 value="{{parent.parentState}}"
                 name="state"
                 ng-pattern="stringval">
            <p style="color:red;"
                 ng-show="myForm.state.$invalid">* This field must contain letters only</p>
                                    <hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
          <h2 style="margin-top:5px; margin-bottom:10px;">State</h2>          
        </div>

      <div style="margin-bottom:15px;">
          <input style="padding:0px;"
                 ng-model="parent.parentZipcode" 
                 class="item-input textDisable" 
                 type="text" 
                 placeholder="Zip Code" 
                 value="{{parent.parentZipcode}}"
                 name="zipcode">
          <hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
          <h2 style="margin-top:5px; margin-bottom:10px;">Zip Code</h2>
          
        </div>

      <div style="margin-bottom:15px;">
           <input style="padding:0px;"
                  ng-model="parent.parentPrimaryphone" 
                 class="item-input textDisable" 
                 type="tel"				  
                 placeholder="Primary Phone" 
                 value="{{parent.parentPrimaryphone}}"
                 name="primaryPhone"
                 ng-maxlength="10"
                 ng-pattern="integerval">
          <p style="color:red;"
                 ng-show="myForm.primaryPhone.$invalid">* This field must contain numbers only (max 10 characters)</p>
          <p style="color:red;">{{parentPrimaryPhoneError}}</p>
                    <hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
          <h2 style="margin-top:5px; margin-bottom:10px;">Primary Phone</h2>
        </div>

      <div style="margin-bottom:15px;">
          <input style="padding:0px;"
                 ng-model="parent.parentSecondaryphone" 
                 class="item-input textDisable" 
                 type="tel" 
                 placeholder="Secondary Phone" 
                 value="{{parent.parentSecondaryphone}}"
                 name="secondaryPhone"
                 ng-maxlength="10"
                 ng-pattern="integerval">
          <p style="color:red;"
                 ng-show="myForm.secondaryPhone.$invalid">* This field must contain numbers only (max 10 characters)</p>                    <hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
                    <h2 style="margin-top:5px; margin-bottom:10px;">Secondary Phone</h2>
        </div>

      <div style="margin-bottom:15px;">
          <input 
                 style="padding:0px;"
                 ng-model="parent.parentEmailid" 
                 class="item-input textDisable" 
                 type="email" 
                 placeholder="Email" 
                 value="{{parent.parentEmailid}}"
                 name="email">
          <p style="color:red;"
                 ng-show="myForm.email.$invalid && myForm.email.$touched">* This field must contain a valid email</p>
          <hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />          
          <h2 style="margin-top:5px; margin-bottom:10px;">Email</h2>
      </div>
          
        <div style="margin-bottom:15px;">
            <input style="padding:0px;"
                   ng-model="parent.parentNotes" 
                   class="item-input textDisable" 
                   type="text" 
                   placeholder="Notes" 
                   value="{{parent.parentNotes}}">
          <hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />          
          <h2 style="margin-top:5px; margin-bottom:30px;">Notes</h2>
        </div>
		  
		  <div style="margin-bottom:15px;">
			  
			  <ion-checkbox ng-model="parent.isParentJobAddress">
			
				  {{(parent.isParentJobAddress === 'true' || parent.isParentJobAddress == true) ? "Job will take place here" : "Will the job be at this location?"}}
				  
			  </ion-checkbox>
<!--
					<div class="item item-checkbox">
						Job address is same as parent address.
						<label class="checkbox">
							<input type="checkbox" ng-checked="parent.isParentJobAddress" ng-model="parent.isParentJobAddress">
						</label>
					</div>
-->
				</div>
		  
<!--				<div ng-hide="parent.isParentJobAddress == 'true' || parent.isParentJobAddress == true">

					<h3 style="margin-top:5px; padding-bottom:10px; font-size:15px;">Enter Job Address</h3>
					<div style="margin-bottom:15px;">
						<input style="padding:0px;" ng-model="parent.parentStreetJob" class="item-input textDisable" type="text" placeholder="Street">
						<hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
						<h2 style="margin-top:5px; margin-bottom:10px;">Street</h2>
					</div>

					<div style="margin-bottom:15px;">
						<input style="padding:0px;" ng-model="parent.parentCityJob" class="item-input textDisable" type="text" placeholder="CityJob" name="cityJob" ng-pattern="stringval">
						<p style="color:red;" ng-show="myForm.cityJob.$invalid">* This field must contain letters only</p>
						<hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
						<h2 style="margin-top:5px; margin-bottom:10px;">City</h2>
					</div>

					<div style="margin-bottom:15px;">
						<input style="padding:0px;" ng-model="parent.parentStateJob" class="item-input textDisable" type="text" placeholder="StateJob" name="stateJob" ng-pattern="stringval">
						<p style="color:red;" ng-show="myForm.stateJob.$invalid">* This field must contain letters only</p>
						<hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
						<h2 style="margin-top:5px; margin-bottom:10px;">State</h2>
					</div>

					<div style="margin-bottom:15px;">
						<input style="padding:0px;" ng-model="parent.parentZipcodeJob" class="item-input textDisable" type="text" placeholder="Zip Code" name="zipCodeJob">
						<hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
						<h2 style="margin-top:5px; margin-bottom:10px;">Zip Code</h2>
					</div>
				</div> 
-->
    </div>
    </form>

    <div class="padding" ng-hide="toggleVisibility">

      <button class="button myred button-block" ng-click="deleteParent()" ng-hide="toggleVisibility">
        Delete Parent
      </button>
    </div>

  </ion-content>
</ion-view>                    