<ion-view view-title="Instructions" cache-view ="false">    
  
<ion-content>
    <ion-view title="Test Page">
    <ion-content>
        <h2>How to use SitterAdvantage™ and Terms of Service</h2>
		
<p>Please read this manual completely to get the most out of SitterAdvantage™.<p>
	
		<h4>There are four main areas of SitterAdvantage™: </h4>
		
	<strong>1. Tasks </strong>
	<p>This is where you will find all of the tasks that you have entered for ALL clients.   These include what the parents have asked you to do such as what time to put the kid down for a nap or when to give medication.  The Remind Me feature for each task uses the notification setting on your smartphone to remind you of the task. </p> 
		
	<strong>2. Clients </strong>
<p>The Clients section is divided into three areas: Parents; Kids; and Tasks.  This is where you enter the name and contact information about the parents and important information about the kids.  You can also enter Tasks for that client. </p>
	
		<strong>3. Emergency </strong>
		<p>The Emergency icon appears in red on every page.  Once pressed it opens the Emergency page and allows you to contact 911 for help.   The “Show My Location” icon can find your location using your smartphone’s GPS.   The page also displays the address of where the job is located, the profiles of each kid and the parents’ contact information.</p> 
		
		<strong>4. Resources </strong>
<p>This is where you’ll find helpful checklists and links to the What To Do With The Kids® website for games, crafts and activities that will help make the job fun for you and the kids. </p>
		
<br>		
There is also a link that allows you to register your copy of SitterAdvantage™ to receive notices and special features.  
<br>	
<p>At the bottom of the page you will find the Default Emergency Text Message that you can change or edit at any time. </p>
		
<h4>When you first open SitterAdvantage™</h4>
		
<p>The Task page opens but will be empty except for the How to Use SitterAdvantage™ icon which opens this document.  All of your tasks will appear on this page in chronological order ONLY after they have been created for a Client.    </p>
		
		<h4>Keeping Your Client’s Information Organized </h4>
		
		<p>SitterAdvantage™ is organized by Clients and to keep the information you enter organized, it is important that the information you enter is for the intended client.  The information you enter under one client will not appear with another client and cannot be transferred from one client to another within the app. </p>
	
		<h4>Adding a Client </h4>
		
		<p>On the Clients page, press the “+” sign and a pop-up window appears where you can enter the families’ name.  Examples of names include:  The Smiths; Barbara Jones; or Mrs. Carruthers.   The name entered will be used to identify this client.  Once entered, press “Save.”</p>
 
		<h4>Changing a Client’s Name</h4>
		<p>Go to the Clients page by selecting the Clients.  Slide the name to the left, select the “Edit” box and enter the new family name and press “Save.” Slide the name back to the right. </p>
		<h4>Deleting a Client</h4>
		<p>Go to the Clients page and slide the name to the left.  Select “Delete” and a confirmation box appears.  Select “Delete” and ALL of the Client’s information including parents, kids and tasks are deleted.  Deleted Clients cannot be recovered.</p>
		
<h4>Adding a Parent</h4>
•	After creating a client, the Client’s page will open.  Select the “Parents” icon and press the “Add New Parent” icon to enter all of the appropriate information for the first person and select “Save.” 
•	If this person’s address is where the job is located, select the “Will the job be at this location?” button at the bottom of the page.  If selected, it will change to “Job will take place here.”  Select “Save” and a summary of all the information entered will appear.  
•	If you enter another parent, only one can have the “Job will take place here” button selected.
•	NOTE: It is important that the name, address and primary phone sections are completed since they will appear in the Emergency section if the address of this parent is where the job will take place. 
•	To add another parent or adult, select the “Add New Parent” icon and repeat.
To Edit a Parent Profile
To edit the information in a parent profile, press the pencil icon next to their name, make the changes and select “Save.”
Deleting a Parent Profile
To delete a parent, select the pencil icon and scroll to the bottom of the profile and select “Delete Parent.”  A confirmation message will appear.   Deleted parent profiles cannot be recovered.

Adding a Kid 

•	Select the “Kids” icon in the Clients section and select the “Add New Kid” icon to enter all of the appropriate information to create a profile.  Select “Save.”  
•	To add a birth date, tap the “Date of Birth” line and a pop-up window appears.  Choose the year, month and date followed by “OK.” 
•	To select a gender tap the arrow on the “Gender” line and choose one.
•	NOTE:  It is important that the parents provide you with the appropriate information about the kid’s Allergies, Handicaps and/or Disabilities and Medication in the event of a medical emergency. 
•	The Notes section at the bottom allows you to enter any additional information about the kid and for you to make notes throughout the job including information that the parents should know about. 
•	Select “Add Photo” to turn on your smartphone’s camera.  Take a clear head and shoulder photo of the kid.  Review the photo and if it is acceptable select “OK.”  If not, select “Retry” and take another.  You can then frame the photo and press “Done” when acceptable.  The photo will then become part of the kid’s profile and a copy will be placed in your photo gallery.
•	NOTE: It is important that the kid is looking into the camera when taking the photo since it may be used in case of an emergency.  
•	Once the kid’s profile is complete, select “Save.”
•	Select the “Add New Kid” icon to add another kid. 
To Edit a Kid’s Profile
Go to the kid’s profile, press the pencil icon next to their name, make the changes and select “Save.”
Deleting a Kid’s Profile
Go to the kid’s profile, press the pencil icon next to their name, scroll to the bottom of the profile and select “Delete Kid.”  A confirmation message will appear.   Deleted Kid profiles cannot be recovered.
Adding a Task in the Client’s Section
•	Select the Tasks icon in the Clients section and select “Add New Task.”
•	Enter a name for the task and a description if needed.  
•	A “Start Date and Time” must be picked and is done by tapping on the line to open the date and time calendar.  Today’s date is automatically selected by default but can be changed.   Select a time for the Task and select “OK.”
•	If needed, add an End Date and Time by tapping that line to open the date and time calendar.  Today’s date is automatically selected but can be changed.  Set the time for the Task to end and select OK.  
•	Use the Notes section to record any special instructions given by the parents. 
•	An alarm or notification is automatically set with each new task.  SitterAdvantage™ will use your smartphone’s existing alarm set-up to notify you.  To remove the need for notification, slide the “Remind Me” button to the left so that it is no longer green.  
•	When completed select “Save.”  The Task will appear in the Task section of that Client AND will appear in the main Tasks page so that you can see all of your tasks in chronological order.
•	To add additional tasks select “Add New Task.” 
•	You can also use the task feature to remind yourself of future events such as when the client will need you to look after their kids again.  
•	NOTE:  Tasks can only be entered when they are created for a client. 
Adding a Task from the Tasks Page
•	Go to the Tasks page and select the “+” to open a new task.
•	Select a Client by tapping on the name to the right.  A window with all existing Clients will appear.  Choose the Client that the task will be created for.  
•	Select which kid the task applies to.  If the task applies to all the kids in that group then select just one.
•	Enter all other information as explained previously and select “Save.”
When a Task is Completed
•	Go to the main Tasks page and select the task that was completed.
•	Scroll to the bottom of the page and press the “Select When Task Completed” icon and a window appears to confirm that it has been completed.  Select “Completed” and you will be returned to the main Task page.  The word “Completed” will now appear on that Task.
To Edit a Task 
•	Go to the main Tasks page and select the task that you want to edit or delete.  
•	Select “Edit” and make the changes needed.  When complete select “Save.”
To Delete a Task from the Task Page 
•	Go to the main Tasks page and select the task that you want to edit by sliding it to the left.  The “Delete Task” box will appear.
•	Select “Delete” and the task is deleted.  
•	A deleted Task cannot be recovered so we suggest that you wait until after the job is completed before deleting a Task.
To Delete a Task from the Clients Section  
•	Select the Client and press the Tasks icon.
•	Select the task to be deleted and scroll to the bottom of the page and select the “Delete Task” icon.
•	A confirmation box will appear.  Select “Delete” and the task is deleted. 
•	A deleted Task cannot be recovered so we suggest that you wait until after the job is completed before deleting a Task.
IMPORTANT NOTES ABOUT THE EMERGENCY PAGE: 
•	The “Call 911” feature will only work if there is 911 service available in that area.
•	The “Call 911” feature will only work if there is cellular network service available in that area.
•	If cellular service is weak or not available in that area, use a traditional telephone land-line and dial 911. 
•	All information entered into SitterAdvantage™ is not dependant on a cellular network service. 
The Emergency Page 
•	To access the Emergency page, select the red Emergency icon which is found on every page of SitterAdvantage™.  
•	For emergency help press the red “Call 911” icon.  The telephone feature of your smartphone will open.  If you are sure that this is an emergency, press send.  
•	Keep calm and explain the situation to the 911 operator and follow all instructions.  DO NOT HANG UP ON THE 911 OPERATOR UNLESS TOLD TO DO SO.
•	Without hanging up on the 911 operator, return to the Emergency page of SitterAdvantage™ for any information the 911 operator asks for.  On most smartphones this is done by selecting the tabs feature and bringing up the SitterAdvantage™ page. 
•	The address you selected in the Client’s section as where the job is located will be displayed under “Job Address.”  
•	If you are not at that address and are unaware of the location, select the “Show My Location” icon which will use your smartphone’s GPS to find your location.
•	Profiles of each kid are displayed on the Emergency page containing all of the information you entered including their photograph.
•	If a kid goes missing, you can use your smartphone’s photo gallery to forward the photograph to the authorities by either text or email.  
•	The parent’s information will be displayed below the kid’s profiles.
Accidental dialling and misuse of 911
•	The process used in SitterAdvantage™ to contact emergency help is designed to prevent accidental dialling and misuse of the 911 service in your area.
•	Most jurisdictions have penalties for the misuse of 911 services, made accidently or not.  
•	If you feel there is an emergency, use 911.  
Contacting the Parents in an Emergency 
•	Only when it is safe to do so, you can contact the parents by either text message or by telephone.
•	On the Emergency page, select the telephone icon next to the parent’s name and the telephone feature of your smartphone will open.  Press send, keep calm and explain the situation to the parent.
•	Select the message icon next to the parent’s name and the text message feature of your smartphone will open with your default Emergency Text Message entered.  Press “Send” or edit the message before sending.   
•	The default Emergency Text Message can be changed by going to the Resources page and scrolling to the bottom.  Select the message, enter a new message and select “Save.”  This default message will appear on every text message you send using SitterAdvantage™. 
Contacting the Parents in an non-Emergency
•	You can also contact the parents in non-emergency situations by either text message or telephone.
•	On the Emergency page select the telephone icon next to their name and the telephone feature of your smartphone will open.
•	On the Emergency page select the message icon next to their name and the text message feature of your smartphone will open with your Emergency Text Message.
•	Delete this message, enter a new one and press send.  
The Resources Page 
The Resources page provides a number of checklists and links that will help make your job fun and safe for both you and the kids.
Potential Job Checklist:  This checklist is designed to help you decide if you want to accept a job by listing questions you should be asking yourself.  It also provides you with a list of things that may keep you from accepting a job including what you can or won’t do and if you would feel comfortable working at this job. 
Pre Job Checklist:  This checklist is designed to help you prepare for a job along with helpful advice for when the job is over.
Location Checklist:  This checklist offers a quick reminder of the information you need to enter into SitterAdvantage™ and for the things you should look for and questions you should ask the parents before they leave. 
Resources from What To Do With The Kids®:
Here you will find links to whattodowiththekids.com for games, crafts or activities that you can do with the kids.  
Take a look and see if there is anything that the kids might like to do.   Consider the kid’s ages, your location and how much time you have before choosing.   
Register for Special Features and Updates:
This link allows you to register for special features and updates from What To Do With The Kids® and SitterAdvantage™.  
The information you submit to SitterAdvantage™ is voluntary and will not be sold, given or shared with anyone. 
Confidentiality and Security of Information
SitterAdvantage™ does not and cannot receive any information that you enter.  
All information you enter must be kept confidential and is provided to you by your clients for your own use and for the safety of the kids you are looking after.  Do not share this information without the expressed consent of the parents which includes the posting of any information and images on social media.
Parents may request that you delete all information about themselves and their kids, including all images, after you have finished the job.   At no time do you have the right to share any of the information provided to you.

		
		
    </ion-content>
</ion-view>
</ion-content>
</ion-view>


          