<ion-view view-title="Instructions" cache-view ="false">    
  
<ion-content>
    <ion-view title="Test Page">
    <ion-content>

        <h4 class="padding" style="text-align:center;">How to use SitterAdvantage™ </h2>
       
        <p style="font-size:15px;font-weight:150;color:#666;padding-right:10px;padding-left:10px;">Please read this manual completely to get the most out of SitterAdvantage™. </p> 
        <p style="font-size:15px;font-weight:150;color:#666;padding-right:10px;padding-left:10px;margin-top:20px;color:#3b5998;"> NOTE: The Terms of Service can be found at the end of this document.</p>
	
    <div class="list card">
        
		 <div class="item item-body item-divider">
            <h2 style="margin-top:5px;margin-bottom:5px;color:black;font-size:15px;">There are four main areas of SitterAdvantage™:</h2>
        </div>
    	
        <div class="item-body">
            
            <strong class="myblue" style="font-size:15px;">Tasks </strong>
             <p style="font-size:15px;font-weight:150;color:#666;">This is where you will find all of the tasks that you have entered for ALL clients.   These include what the parents have asked you to do such as what time to put the kid down for a nap or when to give medication. The Remind Me feature for each task uses the notification setting on your smartphone to remind you of the task. </p> 

             <strong class="myblue" style="font-size:15px;">Clients </strong>
             <p style="font-size:15px;font-weight:150;color:#666;">The Clients section is divided into three areas: Parents; Kids; and Tasks.  This is where you enter the name and contact information about the parents and important information about the kids.  You can also enter Tasks for that client. </p>

            <strong class="myblue" style="font-size:15px;">Emergency </strong>
            <p style="font-size:15px;font-weight:150;color:#666;">The Emergency icon appears in red on every page.  Once pressed it opens the Emergency page and allows you to contact 911 for help.   The “Show My Location” icon can find your location using your smartphone’s GPS.   The page also displays the address of where the job is located, the profiles of each kid and the parents’ contact information.</p> 

            <strong class="myblue" style="font-size:15px;">Resources </strong>
            <p style="font-size:15px;font-weight:150;color:#666;">This is where you’ll find helpful checklists and links to the What To Do With The Kids® website for games, crafts and activities that will help make the job fun for you and the kids. There is also a link that allows you to register your copy of SitterAdvantage™ to receive notices and special features. At the bottom of the page you will find the Default Emergency Text Message that you can change or edit at any time. </p>
         </div>
        
        </div>
			

 <div class="list card">
     
     <div class="item item-body item-divider">
            <h2 style="margin-top:5px;margin-bottom:5px;color:black;font-size:15px;">When you first open SitterAdvantage™</h2>
    </div>
     
     <div class="item-body">
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px">The Task page opens but will be empty except for the How to Use SitterAdvantage™ icon which opens this document.  All of your tasks will appear on this page in chronological order ONLY after they have been created for a Client.</p>
     </div>
</div>
        
        
<div class="list card">
     
     <div class="item item-body item-divider">
            <h2 style="margin-top:5px;margin-bottom:5px;color:black;font-size:15px;">Keeping Your Client’s Information Organized</h2>
    </div>
     
     <div class="item-body">
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px">SitterAdvantage™ is organized by Clients and to keep the information you enter organized, it is important that the information you enter is for the intended client.  The information you enter under one client will not appear with another client and cannot be transferred from one client to another within the app. </p>
     </div>
</div>
        
        
<div class="list card">
     
     <div class="item item-body item-divider">
            <h2 style="margin-top:5px;margin-bottom:5px;color:black;font-size:15px;">Adding a Client</h2>
    </div>
     
     <div class="item-body">
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px">On the Clients page, press the “+” sign and a pop-up window appears where you can enter the families’ name.  Examples of names include:  The Smiths; Barbara Jones; or Mrs. Carruthers.   The name entered will be used to identify this client.  Once entered, press “Save”. </p>
     </div>
</div>
        
<div class="list card">
     
     <div class="item item-body item-divider">
            <h2 style="margin-top:5px;margin-bottom:5px;color:black;font-size:15px;">Changing a Client’s Name</h2>
    </div>
     
     <div class="item-body">
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px">Go to the Clients page by selecting the Clients.  Slide the name to the left, select the “Edit” box and enter the new family name and press “Save”. Slide the name back to the right. </p>
     </div>
</div>
        
<div class="list card">
     
     <div class="item item-body item-divider">
            <h2 style="margin-top:5px;margin-bottom:5px;color:black;font-size:15px;">Deleting a Client</h2>
    </div>
     
     <div class="item-body">
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px">Go to the Clients page and slide the name to the left.  Select “Delete” and a confirmation box appears.  Select “Delete” and ALL of the Client’s information including parents, kids and tasks are deleted.  Deleted Clients cannot be recovered. </p>
     </div>
</div>
              
<div class="list card">
     
     <div class="item item-body item-divider">
            <h2 style="margin-top:5px;margin-bottom:5px;color:black;font-size:15px;">Adding a Parent</h2>
    </div>
     
     <div class="item-body">
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;"> After creating a client, the Client’s page will open.  Select the “Parents” icon and press the “Add New Parent” icon to enter all of the appropriate information for the first person and select “Save”. </span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;"> If this person’s address is where the job is located, select the “Will the job be at this location?” button at the bottom of the page.  If selected, it will change to “Job will take place here.”  Select “Save” and a summary of all the information entered will appear.  </span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;"> If you enter another parent, only one can have the “Job will take place here” button selected.</span> </p>
         
          <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;"> NOTE: It is important that the name, address and primary phone sections are completed since they will appear in the Emergency section if the address of this parent is where the job will take place. </span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;"> To add another parent or adult, select the “Add New Parent” icon and repeat. </span> </p>
     
     </div>
</div>
        
<div class="list card">
     
     <div class="item item-body item-divider">
            <h2 style="margin-top:5px;margin-bottom:5px;color:black;font-size:15px;">Editing a Parent Profile</h2>
    </div>
     
     <div class="item-body">
        <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px">To edit the information in a parent profile, press the pencil icon next to their name, make the changes and select “Save”. </p> 
     </div>
</div>
        
<div class="list card">
     
     <div class="item item-body item-divider">
            <h2 style="margin-top:5px;margin-bottom:5px;color:black;font-size:15px;">Deleting a Parent Profile</h2>
    </div>
     
     <div class="item-body">
        <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px">To delete a parent, select the pencil icon and scroll to the bottom of the profile and select “Delete Parent.”  A confirmation message will appear.   Deleted parent profiles cannot be recovered. </p> 
     </div>
</div>
        
<div class="list card">
     
     <div class="item item-body item-divider">
            <h2 style="margin-top:5px;margin-bottom:5px;color:black;font-size:15px;">Adding a Kid </h2>
    </div>
     
     <div class="item-body">
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;"> Select the “Kids” icon in the Clients section and select the “Add New Kid” icon to enter all of the appropriate information to create a profile.  Select “Save”. </span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;"> To add a birth date, tap the “Date of Birth” line and a pop-up window appears.  Choose the year, month and date followed by “OK”.  </span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;"> To select a gender tap the arrow on the “Gender” line and choose one.</span> </p>
         
          <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;"> NOTE:  It is important that the parents provide you with the appropriate information about the kid’s Allergies, Handicaps and/or Disabilities and Medication in the event of a medical emergency. </span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;"> The Notes section at the bottom allows you to enter any additional information about the kid and for you to make notes throughout the job including information that the parents should know about.  </span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">NOTE: It is important that the kid is looking into the camera when taking the photo since it may be used in case of an emergency.  </span> </p>
         
        
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;"> Once the kid’s profile is complete, select “Save”. </span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;"> Select the “Add New Kid” icon to add another kid. </span> </p>
     
     </div>
</div>
        
<div class="list card">
     <div class="item item-body item-divider">
            <h2 style="margin-top:5px;margin-bottom:5px;color:black;font-size:15px;">Editing a Kid’s Profile</h2>
    </div>
     
     <div class="item-body">
        <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px">Go to the kid’s profile, press the pencil icon next to their name, make the changes and select “Save”. </p> 
     </div>
</div>
        
<div class="list card">
     <div class="item item-body item-divider">
            <h2 style="margin-top:5px;margin-bottom:5px;color:black;font-size:15px;">Deleting a Kid’s Profile</h2>
    </div>
     
     <div class="item-body">
        <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px">Go to the kid’s profile, press the pencil icon next to their name, scroll to the bottom of the profile and select “Delete Kid”.  A confirmation message will appear.   Deleted Kid profiles cannot be recovered. </p> 
     </div>
</div>
        
<div class="list card">
     <div class="item item-body item-divider">
            <h2 style="margin-top:5px;margin-bottom:5px;color:black;font-size:15px;">Adding a Task in the Client’s Section</h2>
    </div>
     
     <div class="item-body">
        <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">Select the Tasks icon in the Clients section and select “Add New Task”.  </span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">Enter a name for the task and a description if needed.   </span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">A “Start Date and Time” must be picked and is done by tapping on the line to open the date and time calendar.  Today’s date is automatically selected by default but can be changed.   Select a time for the Task and select “OK”.   </span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">If needed, add an End Date and Time by tapping that line to open the date and time calendar.  Today’s date is automatically selected but can be changed.  Set the time for the Task to end and select “OK”.</span> </p>
         
          <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">Use the Notes section to record any special instructions given by the parents.</span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">An alarm or notification is automatically set with each new task.  SitterAdvantage™ will use your smartphone’s existing alarm set-up to notify you.  To remove the need for notification, toggle the “Remind Me” button to the left so that it is no longer green.</span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">When completed select “Save”.  The Task will appear in the Task section of that Client AND will appear in the main Tasks page so that you can see all of your tasks in chronological order.</span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">To add additional tasks select “Add New Task”. </span> </p>
         
           <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">You can also use the task feature to remind yourself of future events such as when the client will need you to look after their kids again.  </span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">NOTE:  Tasks can only be entered when they are created for a client. </span> </p>
     </div>
</div>

<div class="list card">
     <div class="item item-body item-divider">
            <h2 style="margin-top:5px;margin-bottom:5px;color:black;font-size:15px;">Adding a Task from the Tasks Page</h2>
    </div>
     
     <div class="item-body">
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">Go to the Tasks page and select the “+” to open a new task.</span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">Select a Client by tapping on the name to the right.  A window with all existing Clients will appear.  Choose the Client that the task will be created for.</span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">Select a Client by tapping on the name to the right.  A window with all existing Clients will appear.  Choose the Client that the task will be created for.</span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">Select which kid the task applies to.  If the task applies to all the kids in that group then select just one.</span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">Enter all other information as explained previously and select “Save”.</span> </p>
     </div>
</div> 
        
 <div class="list card">
     
     <div class="item item-body item-divider">
            <h2 style="margin-top:5px;margin-bottom:5px;color:black;font-size:15px;">When a Task is Completed</h2>
    </div>
     
     <div class="item-body">
        <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">Go to the main Tasks page and select the task that was completed. </span> </p>
         
          <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">Scroll to the bottom of the page and press the “Select When Task Completed” icon and a window appears to confirm that it has been completed.  Select “Completed” and you will be returned to the main Task page.  The word “Completed” will now appear on that Task. </span> </p>
     </div>
</div>
        
<div class="list card">
     
     <div class="item item-body item-divider">
            <h2 style="margin-top:5px;margin-bottom:5px;color:black;font-size:15px;">To Edit a Task</h2>
    </div>
     
     <div class="item-body">
        <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">Go to the main Tasks page and select the task that you want to edit or delete. </span> </p>
         
          <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">Select “Edit” and make the changes needed.  When complete select “Save”. </span> </p>
     </div>
</div>
        
<div class="list card">
     
     <div class="item item-body item-divider">
            <h2 style="margin-top:5px;margin-bottom:5px;color:black;font-size:15px;">To Delete a Task from the Task Page</h2>
    </div>
     
     <div class="item-body">
        <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">Go to the main Tasks page and select the task that you want to edit by sliding it to the left.  The “Delete Task” box will appear. </span> </p>
         
          <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">Select “Delete” and the task is deleted. </span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">A deleted Task cannot be recovered so we suggest that you wait until after the job is completed before deleting a Task. </span> </p>
     </div>
</div>
        
<div class="list card">
     
     <div class="item item-body item-divider">
            <h2 style="margin-top:5px;margin-bottom:5px;color:black;font-size:15px;">To Delete a Task from the Clients Section</h2>
    </div>
     
     <div class="item-body">
        <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">Select the Client and press the Tasks icon. </span> </p>
         
          <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">Select the task to be deleted and scroll to the bottom of the page and select the “Delete Task” icon. </span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">A confirmation box will appear.  Select “Delete” and the task is deleted. </span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">A deleted Task cannot be recovered so we suggest that you wait until after the job is completed before deleting a Task. </span> </p>
     </div>
</div>
        
<div class="list card">
     
     <div class="item item-body item-divider">
            <h2 style="margin-top:5px;margin-bottom:5px;color:black;font-size:15px;">IMPORTANT NOTES ABOUT THE EMERGENCY PAGE:</h2>
    </div>
     
     <div class="item-body">
        <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">	The “Call 911” feature will only work if there is 911 service available in that area. </span> </p>
         
          <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">	The “Call 911” feature will only work if there is 911 service available in that area. </span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">The “Call 911” feature will only work if there is cellular network service available in that area. </span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">If cellular service is weak or not available in that area, use a traditional telephone land-line and dial 911. </span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">	All information entered into SitterAdvantage™ is not dependant on a cellular network service.  </span> </p>
     </div>
</div>
        
<div class="list card">
     
     <div class="item item-body item-divider">
            <h2 style="margin-top:5px;margin-bottom:5px;color:black;font-size:15px;">The Emergency Page </h2>
    </div>
     
     <div class="item-body">
        <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">	To access the Emergency page, select the red Emergency icon which is found on every page of SitterAdvantage™.   </span> </p>
         
          <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">	For emergency help press the red “Call 911” icon.  The telephone feature of your smartphone will open.  If you are sure that this is an emergency, press send. </span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">Keep calm and explain the situation to the 911 operator and follow all instructions.  DO NOT HANG UP ON THE 911 OPERATOR UNLESS TOLD TO DO SO.</span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">Without hanging up on the 911 operator, return to the Emergency page of SitterAdvantage™ for any information the 911 operator asks for.  On most smartphones this is done by selecting the tabs feature and bringing up the SitterAdvantage™ page.  </span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">	The address you selected in the Client’s section as where the job is located will be displayed under “Job Address”.  </span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">	If you are not at that address and are unaware of the location, select the “Show My Location” icon which will use your smartphone’s GPS to find your location. </span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">	Profiles of each kid are displayed on the Emergency page containing all of the information you entered including their photograph.  </span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">	If a kid goes missing, you can use your smartphone’s photo gallery to forward the photograph to the authorities by either text or email. </span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">	The parent’s information will be displayed below the kid’s profiles.  </span> </p>
     </div>
</div>
        
        
<div class="list card">
     
     <div class="item item-body item-divider">
            <h2 style="margin-top:5px;margin-bottom:5px;color:black;font-size:15px;">Accidental dialling and misuse of 911</h2>
    </div>
     
     <div class="item-body">
        <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">	The process used in SitterAdvantage™ to contact emergency help is designed to prevent accidental dialling and misuse of the 911 service in your area. </span> </p>
         
          <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">	Most jurisdictions have penalties for the misuse of 911 services, made accidently or not. </span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">If you feel there is an emergency, use 911. </span> </p>
     </div>
</div>
        
<div class="list card">
     
     <div class="item item-body item-divider">
            <h2 style="margin-top:5px;margin-bottom:5px;color:black;font-size:15px;">Contacting the Parents in an Emergency</h2>
    </div>
     
     <div class="item-body">
        <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">	Only when it is safe to do so, you can contact the parents by either text message or by telephone. </span> </p>
         
          <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">	On the Emergency page, select the telephone icon next to the parent’s name and the telephone feature of your smartphone will open.  Press send, keep calm and explain the situation to the parent. </span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">Select the message icon next to the parent’s name and the text message feature of your smartphone will open with your default Emergency Text Message entered.  Press “Send” or edit the message before sending.  </span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">The default Emergency Text Message can be changed by going to the Resources page and scrolling to the bottom.  Select the message, enter a new message and select “Save.”  This default message will appear on every text message you send using SitterAdvantage™.  </span> </p>
     </div>
</div>
        
<div class="list card">
     
     <div class="item item-body item-divider">
            <h2 style="margin-top:5px;margin-bottom:5px;color:black;font-size:15px;">Contacting the Parents in an non-Emergency</h2>
    </div>
     
     <div class="item-body">
        <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">	You can also contact the parents in non-emergency situations by either text message or telephone. </span> </p>
         
          <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">	On the Emergency page select the telephone icon next to their name and the telephone feature of your smartphone will open. </span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">On the Emergency page select the message icon next to their name and the text message feature of your smartphone will open with your Emergency Text Message.  </span> </p>
         
         <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px"><i class="ion-android-checkbox-blank" style="color:#3b5998;font-size:11px;"></i> <span style="font-size:15px;font-weight:150, padding-right:50px;">Delete this message, enter a new one and press send. </span> </p>
     </div>
</div>
        
<div class="list card">
        
		 <div class="item item-body item-divider">
            <h2 style="margin-top:5px;margin-bottom:5px;color:black;font-size:15px;"> The Resources Page</h2>
        </div>
    	
        <div class="item-body">
            <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;">The Resources page provides a number of checklists and links that will help make your job fun and safe for both you and the kids. </p> 
            
            <strong class="myblue" style="font-size:15px;">Potential Job Checklist </strong>
             <p style="font-size:15px;font-weight:150;color:#666;">This checklist is designed to help you decide if you want to accept a job by listing questions you should be asking yourself.  It also provides you with a list of things that may keep you from accepting a job including what you can or won’t do and if you would feel comfortable working at this job. </p> 

             <strong class="myblue" style="font-size:15px;">Pre Job Checklist </strong>
             <p style="font-size:15px;font-weight:150;color:#666;">This checklist is designed to help you prepare for a job along with helpful advice for when the job is over. </p>

            <strong class="myblue" style="font-size:15px;">Location Checklist </strong>
            <p style="font-size:15px;font-weight:150;color:#666;">This checklist offers a quick reminder of the information you need to enter into SitterAdvantage™ and for the things you should look for and questions you should ask the parents before they leave.</p> 

            <strong class="myblue" style="font-size:15px;">From What To Do With The Kids® </strong>
            <p style="font-size:15px;font-weight:150;color:#666;">Here you will find links to whattodowiththekids.com for games, crafts or activities that you can do with the kids.  
Take a look and see if there is anything that the kids might like to do.   Consider the kid’s ages, your location and how much time you have before choosing.</p>
            
            <strong class="myblue" style="font-size:15px;">Register for Special Features and Updates </strong>
            <p style="font-size:15px;font-weight:150;color:#666;">This link allows you to register for special features and updates from What To Do With The Kids® and SitterAdvantage™.  
The information you submit to SitterAdvantage™ is voluntary and will not be sold, given or shared with anyone.</p>
         </div>
        
</div>
        
<div class="list card">
     
     <div class="item item-body item-divider">
            <h2 style="margin-top:5px;margin-bottom:5px;color:black;font-size:15px;">Confidentiality and Security of Information</h2>
    </div>
    
 <div class="item-body">    
    <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px">SitterAdvantage™ does not and cannot receive any information that you enter. </p>
     <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px">All information you enter must be kept confidential and is provided to you by your clients for your own use and for the safety of the kids you are looking after.  Do not share this information without the expressed consent of the parents which includes the posting of any information and images on social media. </p>
     <p style="font-size:15px;font-weight:150;color:#666;margin-top:0px;margin-bottom:0px">Parents may request that you delete all information about themselves and their kids, including all images, after you have finished the job.   At no time do you have the right to share any of the information provided to you. </p>
     
</div>
</div>

    <div class="padding">
        <h4 style="text-align:center;">TERMS OF SERVICE <br> Effective October 1, 2016</h4>

        <p>These Terms of Service govern your access to and use of the SitterAdvantage™ mobile application (Hereinafter referred to as the "App") and the access and use of the What To Do With The Kids® website (Hereinafter referred to as the "WTDWTK Website").  This is a legal agreement between you (Hereinafter referred to as the "User") and The Prez Inc., legal owner of SitterAdvantage™ and What To Do With The Kids® (Hereinafter referred to as the "Company") </p>

        <b>1.	Eligibility </b> 

        <p>By using the App you acknowledge and agree that:</p>

<p> a)	You are either over the age of 18 years, or possess legal parental or guardian consent if under the age of 18 years, and are fully able and competent to enter into the terms set forth and to abide by and comply with them; </p>
<p>b)	You are an individual at least 13 years of age and have never been convicted of, or is currently pending trial for any felony or misdemeanor, any criminal offense involving violence, abuse, neglect, fraud or larceny, or any offense that involves endangering the safety of others;
    c)	You have not been and are not currently registered or required to register as a sex offender with any government entity.</p>

        <b>2.	Your Conduct </b>
        <p>You acknowledge and agree that:</p>
        <p>a)	You will not intentionally harm any individual in any way including any form of physical, sexual, emotional, verbal, written or psychological abuse or participate in any form of neglect or harassment. </p>
<p>b)	You will not use the App or the WTDWTK Website for any illegal, fraudulent or unauthorized purpose that violates any laws in your jurisdiction;<p>
        <p>c)	You will not photograph minors in a way that may be construed as sensual, erotic or pornographic in any way;</p>
        <p>d)	You will not upload or transmit any content that is illegal, harmful, threatening, abusive, harassing, defamatory, vulgar, obscene, pornographic, libelous, and intrusive of another person’s privacy, hateful, or racially, ethnically or otherwise unlawful or objectionable;</p>
        <p>e)	You will not use  App and WTDWTK Website for purposes you know are false, misleading, untruthful or inaccurate;</p>
        <p>f)	You will not impersonate any person or entity, including, but not limited to a representative of the Company, or falsely state or otherwise misrepresent your affiliation with a person or entity;</p>
        <p>g)	Any and all advice offered that is contained in the App or the WTDWTK Website, are suggestions and are not required to be followed.</p>

        <b>3.	Privacy and Confidentiality</b>

        <p>You acknowledge and agree that: </p>

        <p>a)	You are solely responsible for all content stored on or retrieved from your mobile device;</p>
<p>b)	The information provided to you is personal and confidential and must be protected;</p>
<p>c)	The information provided to you must not be shared without the expressed permission of the person who has provided the information to you;</p>
<p>d)	The information entered by you in the App is for use only in an emergency situation and is to be communicated to the proper authorities verbally or transmitted electronically when needed;</p>
<p>e)	The information provided to you, including all text and images, must not be uploaded, posted or transmitted to any website or social media platform;</p>
<p>f)	The clients may not provide you with the information you request or allow photographs of the minors in their care to be taken;</p>
<p>g)	You are aware of, and will adhere to all applicable local, state, national or international laws concerning the content on the App;</p>
<p>h)	Under no circumstances will the Company be liable in any way for any loss or damage of any kind, real or imagined, incurred as a result of the use of any content made available through the App;
<p>i)	The information provided to you must be deleted immediately at the request of the person who has provided the information to you;</p>
<p>j)	The Company does not collect information entered into the App in any way; </p>
<p>k)	Registration of the App is purely optional;</p>
<p>l)	Any comments, suggestions, submissions or feedback sent to the Company in any form related to the products and services offered by the Company shall become the property of the Company and will not be required to be treated as confidential;</p>
<p>m)	All suggestions, submissions and feedback from you may be used at the Company’s discretion without compensation of any form to you;</p>
<p>n)	Information submitted by you will only be used as per the Company’s privacy policy found at www.whattodowiththekids.com/policies. </p>

        <b>4.	Equipment and Network Access</b>

        <p>You acknowledge and agree that:</p>

<p> a)	You will remain solely responsible to ensure that the mobile device used by you is internet-enabled using either the iOS or Android operating system;</p>
<p> b)	The functioning of the App and its features depends on the proper function of your mobile device including the ability of your mobile device  to access mobile telecommunication and network services;</p>
<p> c)	You are responsible for obtaining the data network access necessary to use the App and all costs associated with it including taxes; </p>
<p> d)	The Company is not responsible for any surcharges you incur from your mobile device  or internet service provider as a result of the use of the App and its features;</p>
<p> e)	The App and its features will not function where there is no accessibility or availability to mobile telecommunication services;</p>
<p> f)	Additional network data and messaging rates and fees may apply and remain your responsibility; </p>
<p> g)	The Company does not guarantee that the features, or any portion thereof, will function on any particular hardware or device; </p>
<p> h)	The Company does not guarantee the accuracy of the global positioning system (GPS) on the mobile device and its software/application;</p>
<p> i)	The Company is not responsible for and has no control over any interference or loss of network availability when using the App;</p>
<p> j)	The Company is not responsible in any way for the loss of any data or images entered into the App;</p>
<p> k)	The Company cannot guarantee and has no control over whether your messages will be delivered real-time, immediately accessed by or responded to by any recipient or emergency service;</p>
<p> l)	You are solely responsible for any and all calls to emergency and/or 9-1-1 service made from your mobile device;</p>
<p> m)	The Company is not responsible or libel for any damage, real or imagined, to your mobile device as a result of using the App.</p>

        <b>5.	Emergency Response</b>

<p>You acknowledge and agree that:</p>

<p>a)	The Company cannot and does not guarantee that emergency services will respond in a timely manner or at all; </p>
<p>b)	The Company takes no responsibility or liability of action or lack thereof on the part of emergency services;</p>
<p>c)	You will not use the emergency features including the 9-1-1 service, to make false and misleading claims or reports;</p>
<p>d)	All penalties, fines or charges as a result of abusing or misuse of the 9-1-1 emergency service, either accidently or on purpose, are your responsibility;</p>
<p>e)	If you cannot get a 9-1-1 operator using your mobile device, immediately use another device or use a traditional telephone land-line;</p>

        <b>6.	No Partnership, Employment Relationship, Screening or Recommendations</b>

<p>You acknowledge and understand that:</p>
<p>a)	Nothing in these Terms may be construed as making you a partner, agent, legal representative, contractor or employee of the Company and you will not falsely state or misrepresent yourself as one in any way;</p>
<p>b)	You will not falsely state or misrepresent yourself as an individual who has been screened, reviewed, trained, approved or authorized by the Company to supervise, instruct, or be in contact with minors.</p>

        <b>7.	License</b>

<p>You acknowledge and agree that:</p>

<p>a)	The Company grants you a limited, non-exclusive, non-sub licensable, revocable, non-transferrable license to access and use the App on a single mobile device owned or controlled by you; </p>
<p>b)	This license does not allow you to use the App on any mobile device or device that you do not own or control, and you may not distribute or make the App available over a network where it could be used by multiple devices at the same time; </p>
<p>c)	You may not rent, lease, lend, sell, redistribute, or sublicense the App;</p>
<p>d)	You may not copy, decompile, reverse engineer, disassemble, and attempt to derive the source code of, modify, or create derivative works of the App, any updates, or any part thereof;</p>
<p>e)	Any attempt to do so is a violation of the rights of the Company and you may be liable for damages and subject to prosecution;</p>
<p>f)	You will not use the App or WTDWTK Website in any way that could potentially damage, disable, overburden, other websites or applications.</p>

        <b>8.	What To Do With The Kids® Website</b>

<p>You acknowledge and agree that: </p>
<p>a)	The Company reserves the right, at its sole discretion, to modify, edit or discontinue, add or delete any and all content or information on the WTDWTK Website without notice to the User;</p>
<p>b)	The Company takes reasonable measures to ensure the accuracy or completeness of information on the WTDWTK Website and you acknowledge that the WTDWTK Website and App my contain typographic errors and inaccuracies and that the Company will not be held liable for any consequential or special damages such as profit losses, real or imagined as a result;</p>
<p>c)	The Company is not responsible and cannot be held liable during matters that are out of its control including power outages and technical problems originating from the WTDWTK Website’s hosting company;</p>
<p>d)	The WTDWTK Website may contain links and advertising from a third-party that is not in the Company’s control and may contain material or information that some people may find offensive or inappropriate.  You acknowledge that such content is not endorsed by the Company and that these links are provided only as a convenience to you.  If you use these links, you acknowledge that you will leave the WTDWTK Website and your involvement is solely between you and the third-party.</p>

        <b>9.	Optional Registration and Use of Personal Information</b>

<p>You acknowledge and understand that:</p>

<p>a)	Registration of the App by the User is available through the App and is optional;</p>
<p>b)	All information submitted by the User is used for marketing purposes only by the Company;</p>
<p>c)	No information identifying individual Users will be used; </p>
<p>d)	The Company does not buy or sell lists of any type;</p>
<p>e)	Registered Users will be provided with updated news and information from the Company; </p>
<p>f)	The Company’s Privacy Policy can be found at www.whattodowiththekids.com/policies. </p>

<b>10.	Copyright and Trademark Notices</b>

<p>You acknowledge and agree that: </p>

<p>a)	All materials including graphic design, photographs, images, text, sounds, software and all other creatives on the App and the WTDWTK Website, except for text and images entered by the User in the App, are the property of the Company and are subject to and protected by international copyright and other intellectual property laws and rights;</p>
<p>b)	All page headers, custom graphics, button icons and scripts are the property of the Company and may not be reproduced, modified, prepared, distributed, licensed, leased, sold, resold, transferred, publicly displayed, publicly performed, transmitted, streamed, broadcasted or otherwise exploited, decompiled, reverse engineered or disassembled, without the prior expressed permission of the Company; </p>
<p>c)	You will not attempt to gain unauthorized access to or impair any aspect of the WTDWTK Website including all related systems or networks;</p>
<p>d)	The Company authorizes you to view and download materials on the WTDWTK Website only for personal use, provided that you keep intact all copyright and other proprietary notices contained in the original materials; </p>
<p>e)	You may not modify or adapt the materials on the WTDWTK Website or App in any way or otherwise use them for any public or commercial purposes; </p>
<p>f)	All trademarks, service marks, trade names, trade dress and logos contained or described on the App and WTDWTK Website are the sole property of the Company, or owned by their respective owners, and may not be copied, imitated or otherwise used, in whole or in part, without the prior written authorization of the Company or their respective owners;</p>
<p>g)	The Company will enforce its intellectual property rights to the fullest extent of the law.
<b>11.	Release, Indemnification, Liability </b>
<p>You acknowledge and agree that:<p>
<p>a)	The Company does not accept any responsibility or liability for your safety, including but not limited to: negligence or failure to act in a safe manner or follow emergency advice or protocol, personal injury, death or other consequences suffered by you or any third parties;</p>
<p>b)	In no event will the Company be liable for any damages whatsoever, whether direct, indirect, general, special, compensatory, consequential, and/or incidental, arising out of or relating to the conduct of you or anyone else in connection with the use of the App or WTDWTK Website, including without limitation, bodily injury, emotional distress, and/or any other damages;</p>
<p>c)	The Company’s services are provided on an “as is” and “as available” basis and is not liable for any loss, damage, errors or omissions in connection with your use of the App or WTDWTK Website; </p>
<p>d)	The Company does not accept any responsibility or liability for the action or lack thereof on the part of any emergency contacts or services and does not guarantee that any emergency personnel will respond in a timely manner or at all, or that the most appropriate personnel will respond;</p>
<p>e)	Any material or information obtained through the App or WTDWTK Website is done at your own risk and that you are solely responsible for any damage arising from doing so.  No information obtained by you from the Company will create any warranty not expressly made in these terms of use;</p>
<p>f)	You agree to indemnify, defend, release and hold harmless the Company, its' officers, directors, members, employees, agents, assignees, representatives, partners, licensors and independent contractors from any and all claims, demands, damages, liability, costs or expenses of every kind and nature, including attorney's fees, known or unknown, suspected and unsuspected, disclosed and undisclosed arising out of or in any way connected with your use of the App and/or the WTDWTK Website;</p>
<p>g)	You acknowledge that these Terms shall be in force from the date you download the App and will remain in effect with your continued use.  Your continued use of the App and the WTDWTK Website following the posting of any updates or changes to these Terms constitutes acceptance of those changes;</p>
<p>h)	The Company makes no claims or promises about the opinions, advice, statements, reviews or other information or content made available on the App or WTDWTK Website, or the accuracy, completeness, or usefulness of any information available on the App or WTDWTK Website; </p>
<p>i)	If you have any questions or need further information about the Company, the App or WTDWTK Website, contact The Prez Inc. at 613-276-7739 or by email at info@theprez.com.</p>

        <b>12.	Amendments </b>

<p>You acknowledge and agree that:</p>

<p>a)	The Company reserves the right to change these terms at any time and will be effective upon the Company’s posting of such updated terms at www.sitteradvantage.com/terms;</p>
<p>b)	It is your responsibility to ensure that you are aware of the current terms when using the App or the WTDWTK Website; </p>
<p>c)	Your continued access or use of the App and WTDWTK Website after such posting constitutes your consent to be bound by the Terms, as amended. </p>

        <b>13.	Acceptance of this Term of Service</b>

<p>By downloading and/or using the App, you acknowledge and agree to these Terms.  If you do not accept these Terms, please stop using the App immediately. </p>

    </div>





		
		
    </ion-content>
</ion-view>
</ion-content>
</ion-view>


          