<ion-view view-title="New Task">
  <ion-nav-buttons side="secondary">
        <button class="button correctSize secondary" ng-click="saveNewTask()" ng-hide="toggleVisibility">Save</button>

  </ion-nav-buttons>

  <ion-nav-buttons side="primary">
    <button class="button correctSize" ng-click="cancelNewTask()" ng-hide="toggleVisibility">Cancel</button>

  </ion-nav-buttons>
  <ion-content>
    <!-- ******************************** Task sub-page ******************************** -->
    <div id="task" class="card">

      <form class="item item-text-wrap" name="myForm" novalidate>

           <label ng-hide="isHideClientDescr" style="padding-left:0px; margin-bottom:30px;margin-top:25px;" class="item item-input item-select">
             <h2>Family Name</h2>
                <select name="selectClientOption" ng-model="selectClientOption"  ng-required="true" ng-options="client as client.clientDesc for client in clientArray" ng-change="getSelectedValue(selectClientOption)" required>  
                </select>
          </label>
           <p style="color: red;" class="error" ng-show="myForm.selectClientOption.$invalid && myForm.selectClientOption.$touched">Family name is required.</p>
		  
		  <label ng-hide="isHideClientDescr" style="padding-left:0px; margin-bottom:30px;margin-top:25px;border-top:0px" class="item item-input item-select">
             <h2>Kid Name</h2>
                <select name="selectKidOption" ng-model="selectKidOption"  ng-required="true" ng-options="kid as kid.kidName for kid in kidsArray" ng-change="getSelectedValueForKid(selectKidOption)" required>  
                </select>
          </label>
           <p style="color: red;" class="error" ng-show="myForm.selectKidOption.$invalid && myForm.selectKidOption.$touched">Kid name is required.</p>

        <div style="margin-bottom:15px;">
             <input style="padding:0px;"
                    name="taskTitle" 
                    ng-model="newTaskParams.taskTitle" 
                    class="item-input textDisable" 
                    type="text" 
                    placeholder="Task" 
                    ng-required="true"
                   ng-pattern="stringval">
            
            <p style="color:red;" ng-show="myForm.taskTitle.$invalid && myForm.taskTitle.$touched"> * This field is required.</p>
            <hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
            <h2 style="margin-top:5px; margin-bottom:15px;">Task</h2>
        </div>

        <div style="margin-bottom:15px;">
            <input style="padding:0px;margin-top:0px;"
                   ng-model="newTaskParams.taskDesc" 
                   class="item-input textDisable" 
                   type="text"
                   name="taskDescription"
                   placeholder="Description">
             <hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
            <h2 style="margin-top:5px; padding-bottom:10px; margin-bottom:0px;">Description</h2>
        </div>

        <div style="margin-bottom:15px;">
            <div style="margin-top:10px;margin-bottom:25px;" ion-datetime-picker am-pm  only-valid="{'after': 'today', 'inclusive': true}" id="start_date_time" name="start_date_time" ng-model="newTaskParams.startdatetimeValue" required="required" for="startDate">
                <p style="color: #c7c7c7;font-size:16px; margin-top:-5px;"ng-show="newTaskParams.startdatetimeValue == null">Pick Start Date and Time</p>
				<p ng-show="newTaskParams.startdatetimeValue != null" style="color:black;font-size:16px; margin-bottom:5px;">{{newTaskParams.startdatetimeValue| date: 'medium'}}</p>
                <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />
          <h2 style="margin-top:5px; margin-bottom:20px;">Start Date and Time</h2>
          
            </div>
			
        </div>
          <p style="color:red;">{{errMessage2}}</p>
          
        <div style="margin-bottom:15px;">
            <div style="margin-top:10px;margin-bottom:25px;" ion-datetime-picker am-pm  only-valid="{'after': 'today', 'inclusive': true}" id="end_date_time" name="end_date_time" ng-model="newTaskParams.enddatetimeValue" required="required" ng-change="checkErr(newTaskParams.startdatetimeValue,newTaskParams.enddatetimeValue)" for="endDate">
                <p style="font-size:16px;color: #c7c7c7;margin-top:-5px;" ng-show="newTaskParams.enddatetimeValue == null">Pick End Date and Time</p>
				<p ng-show="newTaskParams.enddatetimeValue != null" style="color:black;font-size:16px; margin-bottom:5px;">
                    {{newTaskParams.enddatetimeValue| date: "medium"}}</p>
                <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />
                 <h2 style="margin-top:5px;">End Date and Time</h2>		
            </div>  	
        </div>
          <p style="color:red;">{{errMessage1}}</p>
        
        <div style="margin-bottom:0px;margin-top:-10px;">
          <input ng-model="newTaskParams.taskNotes" 
                 style="margin-top:5px;"
                 class="item-input textDisable" 
                 type="text" placeholder="Notes">
                 <hr class="hrPosition" style="height:1px;border:none;color:#333;background-color:#ddd;" />
          <h2 style="margin-top:5px; margin-bottom:55px;">Notes</h2>
        </div>
		  
          <div style="margin-bottom:0px;margin-top:-10px;">
            <hr class="hrPosition" style="height:1px;border:none;color:#333;background-color:#ddd;" />

            <ion-toggle style="padding-top:5px;padding-left:0px;font-size:14px;color:#666;margin-bottom:25px;"ng-model="newTaskParams.isNotify" toggle-class="toggle-balanced" ng-change="notificationChange()">Notify me</ion-toggle>
          </div>
      </form>
    </div>
  </ion-content>
</ion-view>                    