<ion-view view-title="New Parent">
  <ion-nav-buttons side="secondary">
    <button class="button correctSize" ng-click="saveParent()">Save</button>

  </ion-nav-buttons>
  <ion-nav-buttons side="primary">
    <button class="button correctSize secondary" ng-click="cancelParent()">Cancel</button>

  </ion-nav-buttons>
  <ion-content>

<form id="parent" class="card" name="myForm" novalidate>

      <div class="item item-text-wrap">

        <div style="margin-bottom:15px;">
        <h2>Parent Name</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />

          <input name="parentName" 
                 ng-model="params.parentName" 
                 class="item-input textDisable" 
                 type="text" 
                 placeholder="Parent Name" 
                 ng-required="true" 
                 ng-pattern="stringval">
<!--
             <p style="color:red;"
                 ng-show="myForm.parentName.$invalid">* This field must contain letters only</p>
-->
            <p style="color: red;"  
               ng-show="myForm.parentName.$invalid && myForm.parentName.$touched"> * This field is required.</p>
        </div>

        <div style="margin-bottom:15px;">
          <h2>Street</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />

          <input ng-model="params.parentStreet" class="item-input textDisable" type="text" placeholder="Street">
        </div>
    
        <div style="margin-bottom:15px;">
          <h2>City</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />
          <input  ng-model="params.parentCity" 
                 class="item-input textDisable" 
                 type="text" 
                 placeholder="City"
                 name="city"
                 ng-pattern="stringval">
                <p style="color:red;"
                 ng-show="myForm.city.$invalid">* This field must contain letters only</p>

        </div>

        <div style="margin-bottom:15px;">
          <h2>State</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />
          <input ng-model="params.parentState" 
                 class="item-input textDisable" 
                 type="text" 
                 placeholder="State"
                 name="state"
                 ng-pattern="stringval">
            <p style="color:red;"
             ng-show="myForm.state.$invalid">* This field must contain letters only</p>
        </div>

      <div style="margin-bottom:15px;">
          <h2>Zip Code</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />
          <input ng-model="params.parentZipcode" 
                 class="item-input textDisable" 
                 type="text" 
                 placeholder="Zip Code"
                 name="zipCode"
                 ng-pattern="integerval">
          <p style="color:red;" 
             ng-show="myForm.zipCode.$invalid">* This field must contain numbers only</p>
        </div>

      <div style="margin-bottom:15px;">
          <h2>Primary Phone</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />
          <input ng-model="params.parentPrimaryphone" 
                 class="item-input textDisable" 
                 type="text" 
                 name="primaryPhone"
                 placeholder="Primary Phone"
                 ng-pattern="integerval">
          <p style="color:red;"
             ng-show="myForm.primaryPhone.$invalid">* This field must contain numbers only</p>
        </div>

      <div style="margin-bottom:15px;">
          <h2>Secondary Phone</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />
          <input ng-model="params.parentSecondaryphone" 
                 class="item-input textDisable" 
                 type="text" 
                 placeholder="Secondary Phone"
                 name="secondaryPhone"
                 ng-pattern="integerval">
          <p style="color:red;"
             ng-show="myForm.secondaryPhone.$invalid">* This field must contain numbers only</p>
        </div>

      <div style="margin-bottom:15px;">
          <h2>Email</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />
          <input ng-model="params.parentEmailid" 
                 class="item-input textDisable" 
                 type="email" 
                 placeholder="Email" 
                 name="email">
          <p style="color:red;"
             ng-show="myForm.email.$touched && myForm.email.$invalid">* This field must contain a valid email</p>
      </div>
       <div style="margin-bottom:15px;">
          <h2>Notes</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />

          <input ng-model="params.parentNotes" class="item-input textDisable" type="text" placeholder="Notes">

        </div>
    </div>
    </form>

  </ion-content>
</ion-view>                    