<ion-view view-title="New Parent">
	<ion-nav-buttons side="secondary">
		<button class="button correctSize" ng-click="saveParent()">Save</button>

	</ion-nav-buttons>
	<ion-nav-buttons side="primary">
		<button class="button correctSize secondary" ng-click="cancelParent()">Cancel</button>

	</ion-nav-buttons>
	<ion-content>

		<form id="parent" class="card" name="myForm" novalidate>

			<div class="item item-text-wrap">

				<div style="margin-bottom:15px; margin-top:20px;">
					<input style="padding:0px;" name="parentName" ng-model="params.parentName" class="item-input textDisable" type="text" placeholder="Full Name" ng-required="true" ng-pattern="stringval">
					<p style="color: red;" >{{parentNameError}}</p>
					<hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
					<h2 style="margin-top:5px; margin-bottom:10px;">Full Name</h2>
				</div>

				<div style="margin-bottom:15px;">
					<input style="padding:0px;" ng-model="params.parentStreet" class="item-input textDisable" type="text" placeholder="Address">
					<hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
					<h2 style="margin-top:5px; margin-bottom:10px;">Address</h2>
				</div>

				<div style="margin-bottom:15px;">
					<input style="padding:0px;" ng-model="params.parentCity" class="item-input textDisable" type="text" placeholder="City" name="city" ng-pattern="stringval">
					<p style="color:red;" ng-show="myForm.city.$invalid">* This field must contain letters only</p>
					<hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
					<h2 style="margin-top:5px; margin-bottom:10px;">City</h2>
				</div>

				<div style="margin-bottom:15px;">
					<input style="padding:0px;" ng-model="params.parentState" class="item-input textDisable" type="text" placeholder="State" name="state" ng-pattern="stringval">
					<p style="color:red;" ng-show="myForm.state.$invalid">* This field must contain letters only</p>
					<hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
					<h2 style="margin-top:5px; margin-bottom:10px;">State</h2>
				</div>

				<div style="margin-bottom:15px;">
					<input style="padding:0px;" ng-model="params.parentZipcode" class="item-input textDisable" type="text" placeholder="Zip Code" name="zipCode">
					<hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
					<h2 style="margin-top:5px; margin-bottom:10px;">Zip Code</h2>
				</div>

				<div style="margin-bottom:15px;">
					<input style="padding:0px;" ng-model="params.parentPrimaryphone" class="item-input  textDisable" type="tel" name="primaryPhone" placeholder="Primary Phone">
					<p style="color:red;">{{parentPrimaryPhoneError}}</p>
					<hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
					<h2 style="margin-top:5px; margin-bottom:10px;">Primary Phone</h2>
				</div>

				<div style="margin-bottom:15px;">
					<input style="padding:0px;" ng-model="params.parentSecondaryphone" class="item-input textDisable" type="tel" placeholder="Secondary Phone" name="secondaryPhone">
					<p style="color:red;">{{parentSecondaryPhoneError}}</p>
					<hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
					<h2 style="margin-top:5px; margin-bottom:10px;">Secondary Phone</h2>
				</div>

				<div style="margin-bottom:15px;">
					<input style="padding:0px;" ng-model="params.parentEmailid" class="item-input textDisable" type="email" placeholder="Email" name="email">
					<p style="color:red;" ng-show="myForm.email.$touched && myForm.email.$invalid">* This field must contain a valid email</p>
					<hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
					<h2 style="margin-top:5px; margin-bottom:10px;">Email</h2>
				</div>

				<div style="margin-bottom:15px;">
					<input style="padding:0px;" ng-model="params.parentNotes" class="item-input textDisable" type="text" placeholder="Notes">
					<hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
					<h2 style="margin-top:5px; margin-bottom:10px;">Notes</h2>
				</div>

				<div style="margin-bottom:15px;">
					<div class="item item-checkbox">
						
						{{(params.isParentJobAddress === 'true' || params.isParentJobAddress == true) ? "Job will take place here" : "Will the job be at this location?"}}
						
						<label style="margin-left:0px;padding-left:0px;" class="checkbox">
							<input type="checkbox" ng-model="params.isParentJobAddress">
						</label>
					</div>
				</div>

<!--
					<div ng-hide="params.isParentJobAddress == 'true' || params.isParentJobAddress == true">

					<h3 style="margin-top:5px; padding-bottom:10px; font-size:15px;">Enter Job Address</h3>
					<div style="margin-bottom:15px;">
						<input style="padding:0px;" ng-model="params.parentStreetJob" class="item-input textDisable" type="text" placeholder="Street">
						<hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
						<h2 style="margin-top:5px; margin-bottom:10px;">Street</h2>
					</div>

					<div style="margin-bottom:15px;">
						<input style="padding:0px;" ng-model="params.parentCityJob" class="item-input textDisable" type="text" placeholder="City" name="cityJob" ng-pattern="stringval">
						<p style="color:red;" ng-show="myForm.cityJob.$invalid">* This field must contain letters only</p>
						<hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
						<h2 style="margin-top:5px; margin-bottom:10px;">City</h2>
					</div>

					<div style="margin-bottom:15px;">
						<input style="padding:0px;" ng-model="params.parentStateJob" class="item-input textDisable" type="text" placeholder="State" name="stateJob" ng-pattern="stringval">
						<p style="color:red;" ng-show="myForm.stateJob.$invalid">* This field must contain letters only</p>
						<hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
						<h2 style="margin-top:5px; margin-bottom:10px;">State</h2>
					</div>

					<div style="margin-bottom:15px;">
						<input style="padding:0px;" ng-model="params.parentZipcodeJob" class="item-input textDisable" type="text" placeholder="Zip Code" name="zipCodeJob">
						<hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
						<h2 style="margin-top:5px; margin-bottom:10px;">Zip Code</h2>
					</div>

				</div>
				-->
				
			</div>
		</form>

	</ion-content>
</ion-view>
