<ion-view view-title="New Task">
  <ion-nav-buttons side="secondary">
        <button class="button correctSize secondary" ng-click="saveNewTask()" ng-hide="toggleVisibility">Save</button>

  </ion-nav-buttons>

  <ion-nav-buttons side="primary">
    <button class="button correctSize" ng-click="cancelNewTask()" ng-hide="toggleVisibility">Cancel</button>

  </ion-nav-buttons>
  <ion-content>
    <!-- ******************************** Task sub-page ******************************** -->
    <div id="task" class="card">

      <form class="item item-text-wrap" name="myForm" novalidate>

           <label ng-hide="isHideClientDescr" style="padding-left:0px; margin-bottom:50px;margin-top:25px;" class="item item-input item-select">
             <h2>Family Name</h2>
                <select name="selectClientOption" ng-model="selectClientOption"  ng-required="true" ng-options="client as client.clientDesc for client in clientArray" ng-change="getSelectedValue(selectClientOption)" required>  
                </select>
          </label>
           <p style="color: red;" class="error" ng-show="myForm.selectClientOption.$invalid && myForm.selectClientOption.$touched">Family name is required.</p>

        <div style="margin-bottom:15px;">
            
            <h2>Task Title</h2>
            <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;background-color:#ddd;" />
            <input name="taskTitle" ng-model="newTaskParams.taskTitle" class="item-input textDisable" type="text" placeholder="Task Title" ng-required="true"
                   ng-pattern="stringval">           
            <p style="color: red;" class="error" ng-show="myForm.taskTitle.$invalid && myForm.taskTitle.$touched">This field is required.</p>
        </div>

        <div style="margin-bottom:15px;">
          <h2>Task Description</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />

          <input ng-model="newTaskParams.taskDesc" class="item-input textDisable" type="text" placeholder="Description">
        </div>

        <div style="margin-bottom:15px;">
          <h2>Start Date&amp;Time</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />

          <input ng-model="newTaskParams.taskStartDateTime" class="item-input textDisable" type="date" placeholder="Please insert starting date" for="startDate">
        </div>
          <p style="color:red;">{{errMessage2}}</p>
          
        <div style="margin-bottom:15px;">
          <h2>End Date&amp;Time</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />

          <input ng-model="newTaskParams.taskEndDateTime" class="item-input textDisable" type="date" placeholder="End Date" ng-change="checkErr(newTaskParams.taskStartDateTime,newTaskParams.taskEndDateTime)" for="endDate">
        </div>
          <p style="color:red;">{{errMessage1}}</p>
        
        <div style="margin-bottom:15px;">
          <h2>Notes</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />
          <input ng-model="newTaskParams.taskNotes" class="item-input textDisable" type="text" placeholder="Notes">
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>                    