<ion-view view-title="New Kid">
  <ion-nav-buttons side="secondary">

    <button class="button correctSize" ng-click="saveKid()" >Save</button>

  </ion-nav-buttons>
  <ion-nav-buttons side="primary">
    <button class="button correctSize secondary" ng-click="cancelKid()" >Cancel</button>

  </ion-nav-buttons>
  <ion-content>

  <form id="kid" class="card" name="myForm" novalidate>

      <div class="item item-text-wrap">
          
          <div id="profile-info">			   
				<img ng-show="imgURI !== undefined && imgURI !== ''" id="profile-image" ng-src="{{imgURI}}">
			  <img ng-show="imgURI == undefined ||  imgURI == ''"  id="profile-image" ng-src="img/default.png">
              <button  class="button button-positive button-clear" ng-click="addPhoto()">
				Add photo
              </button>
          </div>

        <div style="margin-bottom:15px;" id="myChange">
             <input style="padding:0px;"
                    ng-model="kid.kidName"  
                 class="item-input textDisable" 
                 type="text" 
                 placeholder="Full Name"
                 name="kidName"
                 ng-pattern="stringval"
                 ng-required="true">
            <p style="color:red;">{{kidNameError}}</p>
          <hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
             <h2 style="margin-top:5px; margin-bottom:20px;">Full Name</h2>
        </div>

        <div style="margin-bottom:15px;">
            <div style="padding:0px;" ion-datetime-picker date id="birthDay" name="birthDay" 
                 ng-model="kid.kidBirthdate" required="required" for="birthDate" only-valid="{'before': 'today', 'inclusive': true}" >
                <p style="color: #c7c7c7;font-size:16px; margin-top:0px;" ng-show="kid.kidBirthdate == null">Select Date of Birth</p>
                <p style="color:red;">{{kidBirthDateError}}</p>
				<p ng-show="kid.kidBirthdate != null" style="color:black;font-size:16px;margin-bottom:5px;">{{kid.kidBirthdate | date: 'dd MMMM, yyyy'}}</p>
            </div>
            <hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />	
          <h2 style="margin-top:5px; margin-bottom:10px;">Date of Birth</h2>
        </div>

        <div style="margin-bottom:15px;">
          <div class="list">
              <label class="item item-input item-select" style="padding:0px; margin-bottom:-20px;">
                <div class="input-label" 
                     style="color:#666;padding-bottom:0px;font-size:14px;"
                     name="gender">
                Gender
                </div>
                <select ng-model="kid.kidGender">
                  <option selected>Male</option>
                  <option>Female</option>
                </select>
              </label>
            </div>
            <p style="color:red;">{{kidGenderError}}</p>
          <hr class="hrPosition" style="height:1px;border:none;background-color:#ddd; margin-bottom:30px;"  />
        </div>
          
        <div style="margin-bottom:15px;">
          <input ng-model="kid.allergyDescription" class="item-input textDisable" type="text" placeholder="Allergies">
          <hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;"  />
          <h2 style="margin-top:5px; margin-bottom:15px;">Allergies</h2>


        </div>
        <div style="margin-bottom:15px;">
            <input ng-model="kid.disabilityDescription" class="item-input textDisable" type="text" placeholder="Handicaps/Disabilities">
          <hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;"  />
          <h2 style="margin-top:5px; margin-bottom:15px;">Handicaps/Disabilities</h2>
        </div>

        <div style="margin-bottom:15px;">
            <input ng-model="kid.medicationDescription" class="item-input textDisable" type="text" placeholder="Medications">
          <hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
             <h2 style="margin-top:5px; margin-bottom:15px;">Medications</h2>
          
        </div>

      <div style="margin-bottom:15px;">
          <input ng-model="kid.kidNotes" class="item-input textDisable" type="text" placeholder="Notes">
          <hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
                    <h2 style="margin-top:5px; margin-bottom:20px;">Notes</h2>
        </div>
  </div>
</form>
  </ion-content>
</ion-view>