<ion-view view-title="New Kid">
  <ion-nav-buttons side="secondary">

    <button class="button correctSize" ng-click="saveKid()" >Save</button>

  </ion-nav-buttons>
  <ion-nav-buttons side="primary">
    <button class="button correctSize secondary" ng-click="cancelKid()" >Cancel</button>

  </ion-nav-buttons>
  <ion-content>

  <form id="kid" class="card" name="myForm" novalidate>

      <div class="item item-text-wrap">
          
          <div id="profile-info">
              <img id="profile-image" ng-src="img/{{kid.kidPicture}}">
              <button  class="button button-positive button-clear" ng-click="addPhoto()">
				Add photo
              </button>
          </div>

        <div style="margin-bottom:15px;" id="myChange">
        <h2>Kid Name</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />

          <input ng-model="kid.kidName"  
                 class="item-input textDisable" 
                 type="text" 
                 placeholder="Kid Name"
                 name="kidName"
                 ng-pattern="stringval"
                 ng-required="true">
        <p style="color:red;"
             ng-show="myForm.kidName.$invalid && myForm.kidName.$touched">* This field is required.</p>
<!--
            <p style="color:red;"
             ng-show="myForm.kidName.$invalid">* This field must contain letters only.</p>
-->
        </div>

        <div style="margin-bottom:15px;">
          <h2>Birthday</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />

          <input ng-model="kid.kidBirthdate" class="item-input textDisable" type="date" placeholder="Birthday">

        </div>

        <div style="margin-bottom:15px;">
          <h2>Gender</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />

          <input ng-model="kid.kidGender" 
                 class="item-input textDisable" 
                 type="text" 
                 placeholder="Gender"
                 name="gender"
                 ng-pattern="stringval">
            <p style="color:red;"
               ng-show="myForm.gender.$invalid">* This field must contain letters only.</p>
        </div>
          
        <div style="margin-bottom:15px;">
          <h2>Allergies</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />

          <input ng-model="kid.allergyDescription" class="item-input textDisable" type="text" placeholder="Allergies">

        </div>
        <div style="margin-bottom:15px;">
          <h2>Disabilities</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />

          <input ng-model="kid.disabilityDescription" class="item-input textDisable" type="text" placeholder="Disabilities">

        </div>

        <div style="margin-bottom:15px;">
          <h2>Medications</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />
          <input ng-model="kid.medicationDescription" class="item-input textDisable" type="text" placeholder="Medications">
        </div>

      <div style="margin-bottom:15px;">
          <h2>Notes</h2>
          <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />
          <input ng-model="kid.kidNotes" class="item-input textDisable" type="text" placeholder="Notes">
        </div>

  </div>
</form>
  </ion-content>
</ion-view>