<ion-view view-title="Resources" cache-view="false">
	<ion-content>
        
        <ion-list class="item-icon-right">
            <div class="item item-divider">
				General Resources 
			</div>
             <a class="item item-icon-right" type="item-text-wrap" class="item-icon-right" href="#/tab/resources/instructions">
                How To Use SitterAdvantage™
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
			<a class="item item-icon-right" href="#/tab/resources/resourcesId">
                Potential Job Checklist
                <i class="icon ion-chevron-right icon-accessory"></i>
			</a>
			<a class="item item-icon-right" type="item-text-wrap" href="#/tab/resources/prejobId">
				<h2>Pre Job Checklist</h2>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
			<a class="item item-icon-right" type="item-text-wrap" href="#/tab/resources/locationId">
				<h2>Location Checlkist</h2>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
			<div class="item item-divider">
				Resources From What To Do With The Kids®  
			</div>
            
             <a class="item item-icon-left item-icon-right" ng-repeat="resource in resources" ng-click="openWebsite($index)">
                <i class="icon ion-android-checkbox-blank" style="color:#4a87ee;font-size:13px;"></i>
                 {{ resource.title }}
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </ion-list>
	</ion-content>
</ion-view>