<ion-view cache-view="false" view-title="Tasks">
    <!--    <ion-nav-bar class="myblue">-->
    <ion-nav-buttons side="secondary">
        <button class="button icon ion-plus" ng-click="addTask()"></button>
    </ion-nav-buttons>
    <!--    </ion-nav-bar>-->

    <ion-content>
        <ion-list class="item-icon-right">

            <div ng-repeat="(startDate, taskItems) in tasks | groupBy: 'startDate'">

                <div class="item item-divider">
                    {{startDate}}
                </div>

                <ion-item ng-repeat="task in taskItems | orderBy: 'startTime'"  href="#/tab/tasks/{{task.taskId}}">
                    <p style="font-size:17px;margin-bottom:-18px;color:#272727;width:150px;">{{task.taskTitle}}<p>
                    <span ng-class="{pending : (task.isPending == true && task.isCompleted != 'true') }" class="item-note">		  
								{{task.startTime}}
						</span>
                    <h2>{{task.clientDesc}}</h2>
                    <span class="item-note" style="color:green;margin-top:-18px;" ng-show="task.isCompleted == 'true'">	
								Completed
							</span>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                    
                    <ion-option-button class="myred" ng-click="deleteTask($index)">
                            Delete
                    </ion-option-button>
                </ion-item>
            </div>

        </ion-list>
        <div class="padding">

            <button class="button mygreen button-block" ng-click="goToInstructions()">
                How to Use SitterAdvantage™
            </button>
        </div>
    </ion-content>
</ion-view>