<ion-view cache-view="false" view-title="Tasks">
<!--    <ion-nav-bar class="myblue">-->
    <ion-nav-buttons side="secondary">
      <button class="button icon ion-plus" ng-click="addTask()"></button>
    </ion-nav-buttons>
<!--    </ion-nav-bar>-->
    
  <ion-content>       
      <ion-list class="item-icon-right">
 
 <div ng-repeat="task in tasks" >
 
 <div class="item item-divider">
   {{task.startDate}}
  </div>

  <ion-item type="item-text-wrap" href="#/tab/tasks/{{task.taskId}}">
      <h2>{{task.clientDesc}}</h2>
	  <span class="item-note" style="color:green;" ng-hide="task.isCompleted == 'true'">		  
								Completed
							</span>
<!--
      <div  >
							
						<br/>
							<span style="font-size: 14px;">{{task.taskDescription}}</span>
						
						</div>
-->
      <div>{{task.taskTitle}}</div>
	  <span class="item-note">		  
								{{task.startTime}}
						</span>	
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>             
 </div>
 
</ion-list>
      <div class="padding">

      <button class="button mygreen button-block" ng-click="goToInstructions()">
        How to Use SitterAdvantage™
      </button>
    </div>
  </ion-content>
</ion-view>