<ion-view view-title="{{pageTitle}}">
<!--    <ion-nav-bar class="myblue">-->
    <ion-nav-buttons side="secondary">
        <button class="button correctSize" ng-click="editTaskDetails()"  ng-hide="toggleVisibility">Edit</button>
        <button class="button correctSize" ng-click="saveTaskDetails()"  ng-hide="!toggleVisibility">Save</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="primary">
        <button class="button correctSize secondary" ng-click="cancelTaskDetails()" ng-hide="!toggleVisibility">Cancel</button>
    </ion-nav-buttons>
<!--    </ion-nav-bar>-->
    <ion-content>
        <!-- ******************************** Task sub-page ******************************** -->
        <form id="task" class="card" name="myForm" novalidate>
            
            <div class="item item-text-wrap">
                
                <div style="margin-bottom:15px;">
                    <input style="padding:0px;margin-top:15px;"
                           ng-model="task.taskTitle" 
                           ng-show="disableEnableForm" 
                           class="item-input textDisable" 
                           type="text" 
                           placeholder="Task Title" >
                    <p style="font-size:16px;color:black;margin-top:20px;" 
                       ng-show="!disableEnableForm">{{task.taskTitle}}</p>
                   <hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
                    <h2 style="margin-top:5px; margin-bottom:20px;">Task Title</h2>
                </div>
                
                
				<div ng-hide="toggleVisibility" style="margin-bottom:15px;">
                    <p style="font-size:16px; color:black">{{task.clientDesc}}</p>
                   <hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
                    <h2 style="margin-top:5px; margin-bottom:20px;" >Family Name</h2>
                </div>
                
                <div style="margin-bottom:15px;">
                    <input style="padding:0px;color:black;margin-top:-10px;"
                           ng-model="task.taskDescription" 
                           name="taskDescription" 
                           ng-show="disableEnableForm" 
                           class="item-input textDisable" 
                           type="text" 
                           placeholder="Description">
                        <p style="color:black; font-size:16px;"
                           ng-show="!disableEnableForm">{{task.taskDescription}}</p>
                    <hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
                    <h2 style="margin-top:5px; margin-bottom:20px;">Task Description</h2>
                </div>
                
                <div style="margin-bottom:15px;">
    
                     <div ng-show="disableEnableForm" 
                          style="margin-top:10px;margin-bottom:25px;" 
                          ion-datetime-picker am-pm  only-valid="{'after': 'today', 'inclusive': true}" id="start_date_time" 
                          name="start_date_time" 
                          ng-model="task.taskStartDateTime" 
                          required="required" for="startDate">

                        <p style="color:#c7c7c7; font-size:16px;"ng-show="task.taskStartDateTime == null">Select Start Date  and Time</p>
                        <p style="color:black; font-size:16px; padding:0px;margin-bottom:-20px;"ng-show="task.taskStartDateTime != null" >{{task.taskStartDateTime | date: 'medium'}}</p>
                    </div>
                    
                        <div ng-show="!disableEnableForm" style="margin-top:10px;margin-bottom:25px;" id="start_date_time"  name="start_date_time" ng-model="task.taskStartDateTime" required="required" for="startDate">		
                            <p style="color:black; font-size:16px; padding:0px; margin-bottom:-20px;" >{{task.taskStartDateTime | date: 'medium'}}</p>		
                        </div>
                    
                            <hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
                             <h2 style="margin-top:5px; margin-bottom:20px;">Start Date and Time</h2>
              </div>      
                
                
                <div style="margin-bottom:15px;">
    
                     <div ng-show="disableEnableForm" 
                          style="margin-top:10px;margin-bottom:25px;" 
                          ion-datetime-picker am-pm  only-valid="{'after': 'today', 'inclusive': true}" id="end_date_time" 
                          name="end_date_time" 
                          ng-model="task.taskEndDateTime" 
                          required="required" for="endDate">

                        <p style="color:#c7c7c7; font-size:16px;"ng-show="task.taskEndDateTime == null">Select End Date  and Time</p>
                        <p style="color:black; font-size:16px; padding:0px;margin-bottom:-20px;"ng-show="task.taskEndDateTime != null" >{{task.taskEndDateTime | date: 'medium'}}</p>
                    </div>
                    
                        <div ng-show="!disableEnableForm" style="margin-top:10px;margin-bottom:25px;" id="end_date_time"  name="end_date_time" ng-model="task.taskEndDateTime" required="required" for="endDate">		
                            <p style="color:black; font-size:16px; padding:0px; margin-bottom:-20px;" >{{task.taskEndDateTime | date: 'medium'}}</p>		
                        </div>
                    
                            <hr class="hrPosition" style="height:1px;border:none;background-color:#ddd;" />
                             <h2 style="margin-top:5px; margin-bottom:10px;">End Date and Time</h2>
              </div>
                   
                <div style="margin-bottom:15px;">
                     <input style="padding:0px;margin-bottom:-5px;"
                            ng-model="task.taskNotes" 
                            name="taskNotes" 
                            ng-show="disableEnableForm" 
                            class="item-input textDisable" 
                            type="text" placeholder="Notes">
                        <p style="color:black; font-size:16px;margin-top:5px;margin-bottom:0px;"
                           ng-show="!disableEnableForm">{{task.taskNotes}}</p>   
                    <hr style="height:1px;margin-top:5px;margin-bottom:0px;border:none;color:#333;background-color:#ddd;" />
                    <h2 style="margin-top:5px; margin-bottom:25px;">Notes</h2>
                   
              </div>
            </div>
			
			<ion-checkbox ng-hide="task.isCompleted == 'true'" ng-disabled = "!toggleVisibility" ng-model='task.isNotify' ng-change="notificationChange()">
			  Notify me
			</ion-checkbox>
			
        </form>
	
<!--		ion-item-->
		
		<div class="padding" ng-hide="toggleVisibility" >
            <button class="button mygreen button-block" ng-click="completeTask()" ng-hide="task.isCompleted == 'true'">
                Complete Task
            </button>
        </div>
        
        <div class="padding" ng-hide="!toggleVisibility">
            
            <button class="button myred button-block" ng-click="deleteTaskDetails()">
                Delete Task
            </button>
        </div>
        
    </ion-content>
</ion-view>